{% extends "layout.html.twig" %}

{% block contentmain %}
      <style>
        .modal-header-warning {
            color:#fff;
            padding:9px 15px;
            border-bottom:1px solid #eee;
            background-color: #060325;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    </style>
    <div class="content">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-dark search" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fas fa-plus"></i> &ensp;Filtros de Búsqueda de Personal - {{app.user.persona.dependencia}} ( Haga click aquí para expandir )
                    </button>


                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form method="post" novalidate="true" id="form_buscar">
                        {{ form_errors(formPersonaFilter) }}
                        <div class="row">
                            <div class="threecol col-lg-3">
                                {{ form_label(formPersonaFilter.apellido, 'APELLIDO') }}
                                {{ form_widget(formPersonaFilter.apellido) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formPersonaFilter.apellido) }}
                                </div>
                            </div>
                            <div class="threecol col-lg-3">
                                {{ form_label(formPersonaFilter.nombre, 'NOMBRE') }}
                                {{ form_widget(formPersonaFilter.nombre) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formPersonaFilter.nombre) }}
                                </div>
                            </div>                  
                            <div class="twocol col-lg-3">
                                {{ form_label(formPersonaFilter.dni, 'DOCUMENTO') }}
                                {{ form_widget(formPersonaFilter.dni) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formPersonaFilter.dni) }}
                                </div>
                            </div>   
                            <div class="twocol col-lg-3">
                                {{ form_label(formPersonaFilter.cargo, 'CARGO') }}
                                {{ form_widget(formPersonaFilter.cargo) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formPersonaFilter.cargo) }}
                                </div>
                            </div>                          
                        </div>      
                        <div class="row">
                            <div class="col-lg-4">
                                {{ form_widget(formPersonaFilter.filter) }}
                                {{ form_widget(formPersonaFilter.reset) }}
                            </div>
                        </div>
                        {{ form_end(formPersonaFilter) }}
                    </form>
                </div>
            </div>
        </div>

        {% for message in app.flashes('success') %}
            <hr/>
            <div class="alert alert-success">
                {{ message }}
            </div>
            <hr/>
        {% endfor %}

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <hr/>
        {% if personas|length >0 %}
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">APELLIDO</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">DNI</th>
                        <th class="text-center"scope="col">CARGO</th>
                        <th class="text-center" scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% set count = 0 %}
                    {% for persona in personas %}
                        <tr>
                            <td class="text-default">{{persona.apellido|e }}</td>
                            <td class="text-default"><p>{{persona.nombre|e }}</p></td>
                            <td class="text-default">{{persona.dni|e }}</td>
                            <td class="text-center">{{persona.cargo|e }}</td>

                            {% set accion_responsable = false %}
                            {% if app.user.role == 'ROLE_RESPONSABLE' %}
                                {% set accion_responsable = true %}
                            {% endif%}
                            {% if accion_responsable == true %}
                                <td class="text-center"><a class="btn btn-info" href="{{ path("gestionar_persona_responsables", {'id':persona.id,'modo':'personal'}) }}"  role="button">Gestionar Responsables</a></td>
                            {%endif%}                                   
                        </tr>             
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}    


        {#         -----Paginación-----              #}
        {% set limite = 6 %}
        {% set extremos = 2 %}

        {% if thisPage < limite %} 

            {%set minLeftRange = 1%}
            {%set maxLeftRange = thisPage+extremos%}
            {%set minRightRange = maxPages-extremos%}
            {%set maxRightRange = maxPages %}

        {% elseif thisPage >= limite%}
            {%set minLeftRange = 1 %}
            {%set maxLeftRange = 2 %}

            {%set extremoIzquierdo = thisPage-extremos%}
            {%set extremoDerecho = thisPage+extremos%}
            {%set minRightRange = maxPages-extremos+2 %}

            {% if extremoDerecho >= minRightRange+extremos%}
                {%set minRightRange = thisPage %}
                {%set extremoDerecho = maxPages%}
                {%set extremoIzquierdo = thisPage-((extremos*2))%}
            {%endif%}
            {%set maxRightRange = maxPages %}
        {%endif%}


        <div class="pagination">
            <li><a class="page-link" href="{{ 0 < thisPage-1 ? path('listado_personal', {"currentPage": thisPage-1}) }}">Anterior</a></li>

            {%if thisPage == maxPages-1%}
                {%set maxLeftRange = maxLeftRange-1%}
            {%elseif thisPage == maxPages and thisPage != minRightRange%}
                {%set maxLeftRange = maxPages%}
            {%endif%}


            {% for i in minLeftRange..maxLeftRange %}
                <li class="page-item {{  i == thisPage ? 'active' : '' }}">
                    <a class="page-link"  href="{{ path('listado_personal', {"currentPage": i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            {% if thisPage >= limite %}
                <li class="page-item disabled">
                    <a class="page-link"  href="#">...</a>
                </li>
                {% if thisPage == minRightRange-1%}
                    {%set extremoDerecho = extremoDerecho-1%}
                {%endif%}
                {% for i in extremoIzquierdo..extremoDerecho %}                    
                    <li class="page-item {{  i == thisPage ? 'active' : '' }}">
                        <a class="page-link"  href="{{ path('listado_personal', {"currentPage": i}) }}">{{ i }}</a>
                    </li>                    
                {% endfor %}
            {%endif%}

            {% if thisPage < minRightRange-2%}
                {%if thisPage!= maxRightRange-3%}
                    <li class="page-item disabled">
                        <a class="page-link"  href="#">...</a>
                    </li>
                {%endif%}
            {% endif%}

            {% if thisPage < maxPages-extremos%}
                {% for i in minRightRange..maxRightRange %}                   
                    <li class="page-item">
                        <a class="page-link"  href="{{ path('listado_personal', {"currentPage": i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            {%endif%}            

            {%if (page==maxPages)%}

            {%else%}
                {%set page= page+1%}
            {%endif%}
            <li><a class="page-link" href="{{ path('listado_personal', {"currentPage": page}) }}">Siguiente</a></li>

            </ul>
        </div>


    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<hr/>
{% endblock %}