{% extends "layout.html.twig" %}

{% block contentmain %}
    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;           
        }
        .expediente{
            margin-right: 12px;
            padding:15px;
        }
        .expediente p{
            margin-top:10px;
        }
        .titulo{
            height: 30px;
            padding:7px;
            background-color:black;
            color: #fff;
        }
        .panel{
            font-size: 15px; 
            margin-bottom: 20px;
            margin-right: 20px;
        }
        .form-exp{
            font-size:15px;
            padding:10px;
        }
        .title{
            font-size:16px;
        }
        .modal-header-warning {
            color:#fff;
            padding:9px 15px;
            border-bottom:1px solid #eee;
            background-color: #060325;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }
    </style>

    <div class="content">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-dark search" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fas fa-search-plus"></i> Filtros de Búsqueda de Persona
                    </button>
                    <a href="{{ path('nueva_persona') }}" 
                       role="button" class="btn btn-info float-right">Nueva Persona</a>

                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form method="post" novalidate="true" id="form_buscar">
                        {{ form_errors(formPersonaFilter) }}
                        <div class="row">
                            <div class="threecol col-lg-3">
                                {{ form_label(formPersonaFilter.dependencia, 'DEPENDENCIA') }}
                                {{ form_widget(formPersonaFilter.dependencia) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formPersonaFilter.dependencia) }}
                                </div>
                            </div>
                            <div class="threecol col-lg-3">
                                {{ form_label(formPersonaFilter.apellido, 'APELLIDO') }}
                                {{ form_widget(formPersonaFilter.apellido) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formPersonaFilter.apellido) }}
                                </div>
                            </div>
                            <div class="threecol col-lg-3">
                                {{ form_label(formPersonaFilter.nombre, 'NOMBRE') }}
                                {{ form_widget(formPersonaFilter.nombre) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formPersonaFilter.nombre) }}
                                </div>
                            </div>                  
                            <div class="twocol col-lg-3">
                                {{ form_label(formPersonaFilter.dni, 'DOCUMENTO') }}
                                {{ form_widget(formPersonaFilter.dni) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formPersonaFilter.dni) }}
                                </div>
                            </div>   
                            <div class="twocol col-lg-3">
                                {{ form_label(formPersonaFilter.cargo, 'CARGO') }}
                                {{ form_widget(formPersonaFilter.cargo) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formPersonaFilter.cargo) }}
                                </div>
                            </div>                          
                        </div>      
                        <div class="row">
                            <div class="col-lg-4">
                                {{ form_widget(formPersonaFilter.filter) }}
                                {{ form_widget(formPersonaFilter.reset) }}
                            </div>
                        </div>
                        {{ form_end(formPersonaFilter) }}
                    </form>
                </div>
            </div>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            <hr/>
        {% endfor %}

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            <hr/>
        {% endfor %}

        <hr/>
        {% if personas|length >0 %}
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">APELLIDO</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">DNI</th>
                        <th scope="col">CARGO</th>
                        <th scope="col">DEPENDENCIA</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% set count = 0 %}
                    {% for persona in personas %}
                        <tr>
                            <td class="text-default">{{persona.apellido|e }}</td>
                            <td class="text-default"><p>{{persona.nombre|e }}</p></td>
                            <td class="text-default">{{persona.dni|e }}</td>
                            <td class="text-default">{{persona.cargo|e }}</td>
                            <td class="text-default">{{persona.dependencia.descripcion|e }}</td>

                            <td> <a class="btn btn-warning" href="{{ path("editar_persona", {'id':persona.id}) }}"  role="button"><i class="fas fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></i></a>


                                {% set accion_responsable = false %}
                                {% if app.user.role == 'ROLE_ADMIN' %}
                                    {% set accion_responsable = true %}
                                {% endif%}
                                {% if persona.responsables|length>0%}
                                    {% if persona.usuario != null and persona.responsables[0].usuario == app.user %}
                                        {% set accion_responsable = true %}
                                    {% endif %}
                                {%endif%}
                                {% if accion_responsable == true %}
                                    <a class="btn btn-info" href="{{ path("gestionar_persona_responsables", {'id':persona.id}) }}"  role="button"><i class="fas fa-user" data-toggle="tooltip" data-placement="top" title="Responsables"></i></a>
                                    {%endif%}
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal{{ count }}"><i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar"></i></button>    
                                <!-- The Modal -->
                                <div class="modal fade" id="myModal{{count}}">
                                    <div class="modal-dialog modal-sm modal-dialog-centered">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header-warning">
                                                <button type="button" class="close text-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Eliminar Persona</h4>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                ¿Desea Eliminar a {{persona.nombre}} {{ persona.apellido}}?
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"><a class="text-type btn-primary"href="{{ path("eliminar_persona", {'id':persona.id}) }}"  role="button">Si</a></button>                          
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                {% set count=count+1 %}
                        </tr>             
                    {% endfor %}


                </tbody>
            </table>
        {% endif %}       

        {% set limite = 6 %}
        {% set extremos = 2 %}

        {% if thisPage < limite %} 

            {%set minLeftRange = 1%}
            {%set maxLeftRange = thisPage+extremos%}
            {%set minRightRange = maxPages-extremos%}
            {%set maxRightRange = maxPages %}

        {% elseif thisPage >= limite%}
            {%set minLeftRange = 1 %}
            {%set maxLeftRange = 2 %}

            {%set extremoIzquierdo = thisPage-extremos%}
            {%set extremoDerecho = thisPage+extremos%}
            {%set minRightRange = maxPages-extremos+2 %}

            {% if extremoDerecho >= minRightRange+extremos%}
                {%set minRightRange = thisPage %}
                {%set extremoDerecho = maxPages%}
                {%set extremoIzquierdo = thisPage-((extremos*2))%}
            {%endif%}
            {%set maxRightRange = maxPages %}
        {%endif%}


        <div class="pagination">
            <li><a class="page-link" href="{{ 0 < thisPage-1 ? path('listado_persona', {"currentPage": thisPage-1}) }}">Anterior</a></li>

            {%if thisPage == maxPages-1%}
                {%set maxLeftRange = maxLeftRange-1%}
            {%elseif thisPage == maxPages%}
                {%set maxLeftRange = maxPages%}
            {%endif%}
            
            
            {% for i in minLeftRange..maxLeftRange %}
                <li class="page-item {{  i == thisPage ? 'active' : '' }}">
                    <a class="page-link"  href="{{ path('listado_persona', {"currentPage": i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            {% if thisPage >= limite %}
                <li class="page-item disabled">
                    <a class="page-link"  href="#">...</a>
                </li>
                {% if thisPage == minRightRange-1%}
                    {%set extremoDerecho = extremoDerecho-1%}
                {%endif%}
                {% for i in extremoIzquierdo..extremoDerecho %}                    
                    <li class="page-item {{  i == thisPage ? 'active' : '' }}">
                        <a class="page-link"  href="{{ path('listado_persona', {"currentPage": i}) }}">{{ i }}</a>
                    </li>                    
                {% endfor %}
            {%endif%}

            {% if thisPage < minRightRange-2%}
                {%if thisPage!= maxRightRange-3%}
                    <li class="page-item disabled">
                        <a class="page-link"  href="#">...</a>
                    </li>
                {%endif%}
            {% endif%}

            {% if thisPage < maxPages-extremos%}
                {% for i in minRightRange..maxRightRange %}                   
                    <li class="page-item">
                        <a class="page-link"  href="{{ path('listado_persona', {"currentPage": i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
            {%endif%}            

            {%if (page==maxPages)%}

            {%else%}
                {%set page= page+1%}
            {%endif%}
            <li><a class="page-link" href="{{ path('listado_persona', {"currentPage": page}) }}">Siguiente</a></li>

            </ul>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<hr/>
{% endblock %}