<!DOCTYPE HTML>
<html lang="es">
    <head>

        <meta charset="utf-8" />
        <title>            
            {% block title %}SIE{% endblock %}           
        </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">	   

        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet"> 
        <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>  
        <style>
            *{
                font-family: 'Noto Sans', sans-serif;
                font-size: 13px;
            }
            .sidebar{
                width:125px;
                height:1200px;
                background-color:#e3e3e3;
                /* float:left  Removed*/
                left:0; /* Added */
                position: fixed;
                border: #b3b3b3 .2px;
            }
            .contentmain{
                margin-top:30px;
                margin-left:150px; /* Added */
                margin-right:25px;

            }
            body{
                background-color:#ededed;
                color:#616161;
            }
            .content{
                margin:0 auto;
                width:1000px;
                background-color:#fff;

                padding:30px;
              {#  -webkit-box-shadow: -1px 0px 5px 3px rgba(0,0,0,0.31);
            -moz-box-shadow: -1px 0px 5px 3px rgba(0,0,0,0.31);
            box-shadow: -1px 0px 5px 3px rgba(0,0,0,0.31);#}
            }
            .filtro{
                background-color: #e8e8e8;
                padding:20px;
            }

            table{
                color:#616161;
            }
            .dropdown-menu {display: block;visibility: hidden;opacity:0;transform: translateY(50px);transition:.5s ease all;}
            .dropdown-menu.show {display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;}

            .right{
                margin-left: auto;
                margin-right: 0;

            }
            
            table{
                color:#616161;
            }
            .dropdown-menu {display: block;visibility: hidden;opacity:0;transform: translateY(50px);transition:.5s ease all;}
            .dropdown-menu.show {display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;}

            
            
        </style>
        <script>
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '< Ant',
                nextText: 'Sig >',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };

            $.datepicker.setDefaults($.datepicker.regional[ "es" ]);

            $(function () {
                $(".datepicker").datepicker({
                    inline: true,
                    showOtherMonths: true,
                    dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                    dateFormat: 'dd-mm-yy'
                });
            });
        </script>
    </head>

    <body>       
        {% if app.user != null %}
            <header>  
                <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
                    {#                                        <img width="35px" src="{{ asset('logo.png') }}">#}
                    <a class="navbar-brand abs" href="#"><strong style="font-size:16px;">
                            {#<img width="30" src="{{ asset('dpv.jpeg') }}">#}Sistema de Gestión Interna de Expedientes
                        </strong></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="collapsingNavbar">

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <div class="dropdown right">
                                    <button class="btn btn-dark dropdown-toggle right" type="button" id="dropdownMenuMenu" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-user"></i>  {{ app.user.userName }}  
                                        </a>        </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuMenu">
                                        <a class="dropdown-item" type="button"><i class="fab fa-whmcs"></i>  Configuración</a>
                                        <a class="dropdown-item" href="{{ path("logout") }}" type="button"><i class="fas fa-sign-out-alt"></i>  Cerrar Sesión</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="sidebar"> 
                    <div class="list-group" style="margin-top:15px;">
                        <a href="{{ path('listado_expediente',{'currentPage':1}) }}" class="list-group-item list-group-item-action text-center">
                            <i class="far fa-file-alt" style="font-size:27px; margin:0 auto;"></i>
                            <br/>
                            Expedientes
                        </a>
                        {% if app.user.role == 'ROLE_ADMIN' %}
                            <a href="{{ path('listado_dependencia',{'currentPage':1}) }}" class="list-group-item list-group-item-action text-center">
                                <i class="fas fa-building" style="font-size:27px; margin:0 auto;"></i>
                                <br/>
                                Dependencias
                            </a>
                            <a href="{{ path('listado_persona',{'currentPage':1}) }}" class="list-group-item list-group-item-action text-center">
                                <i class="fas fa-male" style="font-size:27px; margin:0 auto;"></i>
                                <br/>
                                Personas
                            </a>
                            <a href="{{ path('listado_usuario',{'currentPage':1}) }}" class="list-group-item list-group-item-action text-center">
                                <i class="fas fa-user" style="font-size:27px; margin:0 auto;"></i>
                                <br/>
                                Usuarios
                            </a>
                        {% endif %}
                        <a href="{{ path('listado_lugarfisico',{'currentPage':1}) }}" class="list-group-item list-group-item-action text-center">
                            <i class="fas fa-archive" style="font-size:27px;"></i>
                            <br/>
                            Lugares
                        </a>
                        <a href="#" class="list-group-item list-group-item-action text-center">
                            <i class="fas fa-history" style="font-size:27px;"></i>
                            <br/>
                            Últimos Registros
                        </a>
                        <a href="#" class="list-group-item list-group-item-action text-center">
                            <i class="fas fa-question-circle" style="font-size:27px;"></i>
                            <br/>
                            Ayuda
                        </a>
                        <a href="{{ path('logout') }}" class="list-group-item list-group-item-action text-center">
                            <i class="fas fa-sign-out-alt" style="font-size:27px;"></i>
                            <br/>
                            Salir
                        </a>
                    </div>
                </div>


                <div class="contentmain">

                    {% block contentmain %}

                    {% endblock %}

                </div>
            </header>
        {% else %}

            <div class="login">

                {% block login %}

                {% endblock %}

            </div>


        {% endif %}


    </body>

</html>
