<!DOCTYPE HTML>
<html lang="es">
    <head>

        <meta charset="utf-8" />
        <title>            
            {% block title %}SIE{% endblock %}           
        </title>
        <script src="https://code.jquery.com/jquery-1.12.4.js"
                integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous"></script>
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">	
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>  
        <style>
            .active{
                color:grey;
                margin-left: 10px;
                font-size: 20px;
            }
            .footer {

                position: fixed;

                bottom: 0;

                width: 100%;

                height: 55px;

                background-color: #3e3e3e;

            }
            .container{
                background-color: #3e3e3e;
                padding:15px;
            }
            .footer p{
                text-align: center;
                color:#fff;
            }
        </style>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function () {
                $(".datepicker").datepicker({
                    inline: true,
                    showOtherMonths: true,
                    dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                });
            });
        </script>
    </head>
    <body>       
        <header>  
            <nav class="navbar navbar-sticky-top navbar-default ">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path("homepage") }}">Sistema de Pases de Expediente</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">                        
                            {% block menu %}  

                            {% endblock %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">

                            {#<li><a href="#">
                                     {% if app.user != null %}
                                    Bienvenido, {{}}

                                {%endif%}
                                </a>
                            </li>#}

                            <li>

                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if app.user != null %} {{ app.user.userName }} {% else %} Iniciar Sesion {% endif %} <span class="glyphicon glyphicon-cog"></span><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {{dump(app.user)}}
                                    {% if app.user == null %}
                                          
                                        <li><a href="{{ path("loginUsuario") }}">Entrar</a></li>

                                    {%else%}
                                        <li><a href="#">Opciones</a></li>
                                        <li><a href="{{ path("editar_usuario", {'id':app.user.id}) }}">Configuración de Cuenta</a></li>
                                        <li><a href="{{ path("editar_persona", {'id':app.user.persona.id}) }}">Configuración Personal</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path("logout") }}">Salir</a></li>
                                        {%endif%}
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">

                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                           
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Expedientes <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path("listado_expediente") }}">Listado</a></li>
                                    <li><a href="{{ path("nuevo_expediente") }}">Nuevo Expediente</a></li>
                                    <li><a href="#">Buscar Expediente</a></li>
                                  {#  <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>#}
                                </ul>
                            </li>
                             <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Movimientos <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path("listado_expediente") }}">Listado</a></li>
                                    <li><a href="{{ path("nuevo_expediente") }}">Nuevo Expediente</a></li>
                                    <li><a href="#">Buscar Expediente</a></li>
                                  {#  <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>#}
                                </ul>
                            </li>
                        </ul>        
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        </header>

        <section id="content">             
            {% block content %}Content default{% endblock %}   
        </section>


    </body>

</html>
