<!DOCTYPE HTML>
<html lang="es">
    <head>

        <meta charset="utf-8" />
        <title>            
            {% block title %}SIE{% endblock %}           
        </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="https://code.jquery.com/jquery-1.12.4.js"
                integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous"></script>

        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">	
        {#        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">#}
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet"> 
        <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>  
        <style>
            *{
                font-family: 'Noto Sans', sans-serif;
                font-size: 12px;
            }
            body{
                background-color:#e8e8e8;
            }
            .content{
                margin-left:100px;
                margin-right:100px;
                background-color:#fff;
                padding:30px;
            }
            .filtro{
                background-color: #e8e8e8;
                margin:auto;
                padding:10px;
            }

            table{
                color:#616161;
            }


            .dropdown-menu {display: block;visibility: hidden;opacity:0;transform: translateY(50px);transition:.5s ease all;}
            .dropdown-menu.show {display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;}

        </style>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function () {
                $(".datepicker").datepicker({
                    inline: true,
                    showOtherMonths: true,
                    dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                    dateFormat: 'dd/mm/yy'
                });
            });
        </script>
    </head>

    <body>       
        {% if app.user != null %}
            <header>  
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">SIE</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">

                            <div class="dropdown dropdown-menu-right">

                                {% if(app.user == null) %}
                                    <li class="nav-item">
                                        <a class="btn btn-success nav-link" href="{{ path("loginUsuario") }}">Iniciar Sesión<i class="fa fa-sign-in"></i></a>
                                    </li>
                                {% else %}

                                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuMenu" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        Bienvenido, {{ app.user.persona.nombre }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuMenu">
                                        <a class="dropdown-item" type="button">Configuración</a>
                                        <a class="dropdown-item" href="{{ path("logout") }}" type="button">Cerrar Sesión</a>
                                    </div>
                                {% endif %}

                            </div>
                        </ul>

                    </div>
                </nav>

                <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-bot">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuMenu" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    EXPEDIENTES
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuMenu">
                                    <a class="dropdown-item" href="{{ path("nuevo_expediente") }}" type="button">NUEVO</a>
                                    <a class="dropdown-item" href="{{ path("listado_expediente",{'currentPage':1}) }}" type="button">LISTADO</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuMenu" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    DEPENDENCIAS
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuMenu">
                                    <a class="dropdown-item" href="{{ path("nueva_dependencia") }}" type="button">NUEVO</a>
                                    <a class="dropdown-item" href="{{ path("listado_dependencia",{'currentPage':1}) }}" type="button">LISTADO</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuMenu" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    PERSONAS
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuMenu">
                                    <a class="dropdown-item" href="{{ path("nueva_persona") }}" type="button">NUEVO</a>
                                    <a class="dropdown-item" href="{{ path("listado_persona",{'currentPage':1}) }}" type="button">LISTADO</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuMenu" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    USUARIOS
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuMenu">
                                    <a class="dropdown-item" href="{{ path("nuevo_usuario") }}" type="button">NUEVO</a>
                                    <a class="dropdown-item" href="{{ path("listado_usuario",{'currentPage':1}) }}" type="button">LISTADO</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuMenu" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    LUGARES
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuMenu">
                                    <a class="dropdown-item" href="{{ path("nuevo_lugarfisico") }}" type="button">NUEVO</a>
                                    <a class="dropdown-item" href="{{ path("listado_lugarfisico",{'currentPage':1}) }}" type="button">LISTADO</a>
                                </div>
                            </div>
                        </ul>

                    </div>
                </nav>

            </header>
        {% endif %}
        <section id="content">             
            {% block content %}Content default{% endblock %}   
        </section>


    </body>

</html>
