{% extends "AppBundle::layout.html.twig" %}

{% block content %}  
    <style>   
        
        body{
            margin:0;
        }
        
        .main{              
            width:auto;          
        }
        .header p{
            margin-left:3%;
            color:#7d7d7d;
            font-size: 18px;
        }
        .opciones{
            margin:0;
            padding:10px;
            display:flex;
        }

        .add,.list,.search{
            width:350px;
            height:350px; 
            margin:0; 
            margin-left:20px;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(207,207,207,1);
            -moz-box-shadow: 10px 10px 5px 0px rgba(207,207,207,1);
            box-shadow: 10px 10px 5px 0px rgba(207,207,207,1);
            outline: 0px dashed #9e9e9e;
            -webkit-transition: outline 0.05s;
        }
        .content img{
            margin-left:26%;
        }
        .content h4{
            text-align: center;
            color:#fff;
            padding-left: 29px;
            padding-right:29px;
        }
        .content p{
            text-align: justify;
            font-size:18px;
            padding-left: 29px;
            padding-right:29px;
            color:#fff;
        }

        .add{
            background-color: #f5b92f;           
        }
        .list{
            background-color:#6bc238;       
        }
        .search{
            background-color: #6eb6ff;
        }
        
        .add:hover{
           cursor: pointer;
           outline: 5px dashed #9e9e9e;
           text-decoration:none; 
           transition-property: outline;
           transition-duration:  0.05s;
           transition-timing-function: linear;
        }
         .search:hover{
           cursor: pointer;
           outline: 5px dashed #9e9e9e;
           text-decoration:none;
           transition-property: outline;
           transition-duration:  0.05s;
           transition-timing-function: linear;
          
        }

         .list:hover{
           cursor: pointer;
           outline: 5px dashed #9e9e9e;
           text-decoration:none;
           transition-property: outline;
           transition-duration:  0.05s;
           transition-timing-function: linear;
          
        }       
    </style>
    
    <div class="main">
        <div class="header">
            <p>A continuación, eliga la operación que desea realizar.</p>
            <hr/>
            <div class="opciones">
                <a href="{{ path("nuevo_expediente") }}" class="add"> 
                    <div class="content">
                        <img src="{{ asset("Icons/add.png") }}" width="170"/>
                        <h4><strong>CARGAR UN EXPEDIENTE</strong></h4>
                        <p>Seleccione para cargar un nuevo expediente en el sistema.</p>  
                    </div>
                </a>
                <a href="#" class="search"> 
                    <div class="content">
                        <img src="{{ asset("Icons/search.png") }}" width="170"/>
                        <h4><strong>BUSCAR EXPEDIENTES</strong></h4>
                        <p>Al seleccionar esta opción, podrá buscar expedientes con filtros específicos y eventualmente, podrá realizar acciones en ellos.</p>   
                    </div>
                </a>
                <a href="{{ path("listado_expediente") }}" class="list"> 
                    <div class="content">
                        <img src="{{ asset("Icons/list.png") }}" width="170"/>
                        <h4><strong>HISTORIAL DE EXPEDIENTES</strong></h4>
                        <p>Aquí se podran ver los expedientes cargados por un usuario específico.</p> 
                    </div>
                </a>
            </div>
        </div>
        <hr/>
    </div>
    
{% endblock %}