{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    
    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
         }
         input[type=submit]{
            margin-bottom: 10px;
            padding:10px;            
         }
         body{
             background-color:#fff;
             
         }
         .title{
             font-size:24px;
         }
         .formu{
             width: 600px;
              float: none;
            margin: 0 auto;
         }
         .float{
             margin-top:15px;
         }
         body label{
             font-size: 12px;
             font-style:normal;
         }
         .panel-body{
             padding:30px;
         }
    </style>  
    
     <div class="formu col-ls-4">
        <div class="panel panel-primary ">
            <div class="title panel-heading text-center">Configurar Cuenta de Usuario</div>
            <div class="panel panel-body">
                <br/>
                {{form_start(form,{'action':'','method':'POST'})}}        
                        <label class="float exp">NOMBRE DE USUARIO</label>
                        {{ form_errors(form.iup) }}
                        {{ form_widget(form.iup) }}
                        <label class="float left">EMAIL</label>
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                        <label class="float left">CONTRASEÑA</label>
                        {{ form_errors(form.contrasenia) }}
                        {{ form_widget(form.contrasenia) }}
                        <label class="float left">PERSONA GESTIONANTE</label>
                        {{ form_errors(form.persona) }}
                        {{ form_widget(form.persona) }} 
                        
                        {% if form.role is defined %}
                            
                             <label class="float left">ROLES</label>
                        {{ form_errors(form.role) }}
                        {{ form_widget(form.role) }}        
                            
                            {% endif %}
                        
                                                       
                        <br/>
                    {{ form_widget(form.Aceptar) }}
                    <br/>
                    <a class="btn btn-default" onclick="history.back()"  role="button">Volver</a>

             
                {{form_end(form)}}
            </div>
        </div>
    </div>           
            
    {# Formulario embebido #}

    <div class="persona">
        {{ form_row(form.persona) }}
    </div>
{% endblock %}