{% extends "AppBundle::layout.html.twig" %}

{% block contentmain %}

    <style>

        .panel-body{
            padding:30px;
        }
    </style>  

    <div class="content">
        <div class="formu col-ls-4">
            <br/>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {{form_start(form,{'action':'','method':'POST'})}}        
            <label class="float exp">NOMBRE DE USUARIO</label>
            {{ form_errors(form.iup) }}
            {{ form_widget(form.iup) }}
            <label class="float left">EMAIL</label>
            {{ form_errors(form.email) }}
            {{ form_row(form.email.first) }}
            <label class="float left">CONFIRMAR EMAIL</label>
            {{ form_row(form.email.second) }}
           
            <label class="float left">CONTRASEÑA</label>
            <div class=" text-danger">{{ form_errors(form.contrasenia) }}</div>
            {{ form_widget(form.contrasenia) }}
        {#    {{ form_errors(form.contrasenia) }}
            <div class=" text-danger">{{ form_row(form.contrasenia.first) }}</div>          
            
            
            <label class="float left">CONFIRMAR CONTRASEÑA</label>
            {{ form_row(form.contrasenia.second) }}#}
            <label class="float left">PERSONA GESTIONANTE</label>
            {{ form_errors(form.persona) }}
            {{ form_widget(form.persona) }}                  
            <label class="float left">ROLES</label>
            {{ form_errors(form.role) }}
            {{ form_widget(form.role) }}                                        
            <br/>
            {{ form_widget(form.Aceptar) }}          

            {{form_end(form)}}
        </div>        
    </div>
    <script>
        $('#usuario_persona').autocompleter({
            url_list: "{{ path('persona_search') }}",
            url_get: "{{ path('persona_get') }}"
        });
    </script>
{% endblock %}