{% extends "layout.html.twig" %}

{% block title %}GIE DPV - Carga de Expediente{% endblock %}          

{% block contentmain %}  
    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;           
        }
        .panel{
            font-size: 11px;        
        }
        .form-exp{
            font-size:15px;
            padding:10px;
        }
        .title{
            font-size:16px;
        }

        .cod{
            width:60px;

        }
        .num{
            width:115px;
            margin-left:-4px;
        }
        .dig{
            width:35px;
            margin-left:-19px;

        }

    </style>

    <div class="content">
        <div class="col-ls-12">
            <br/>
            <div class="title">
                <h5 class="text-center">Carga de Expediente</h5>
            </div>
            <hr/>
            {{form_start(form,{'action':'','method':'POST'})}}
            <div class="filtro_panel"
                 <label class="text-default"><strong>Número de Expediente</strong>(<span class="text-danger">*</span>)</label>
                <div class=" text-danger">{{ form_errors(form.codigoExpediente) }}</div>
                <div class=" text-danger">{{ form_errors(form.numeroExpediente) }}</div>
                <div class=" text-danger">{{ form_errors(form.digitoExpediente) }}</div>
                <div class="row">
                    <div class="cod col-lg-1">
                        <label class="exp text-default"></label>
                        {{ form_widget(form.codigoExpediente) }}
                    </div>                   
                    <div class="num col-lg-2">
                        <label class="exp text-default"></label>

                        {{ form_widget(form.numeroExpediente) }}
                    </div>
                    <div class="dig col-lg-1">
                        <label class="exp text-default"></label>

                        {{ form_widget(form.digitoExpediente) }}
                    </div>
                </div>
                <hr/>
                <div class="row">    
                    <div class="col-lg-6">
                        <label class="text-default">Tema(<span class="text-danger">*</span>)</label>
                        {{ form_errors(form.tema) }}
                        {{ form_widget(form.tema) }}
                    </div>     
                    <div class="space col-lg-6"></div>
                    <div class="col-lg-4 ">
                        <label class="text-default">Tipo(<span class="text-danger">*</span>)</label>
                        {{ form_errors(form.tipo) }}
                        {{ form_widget(form.tipo) }}
                    </div>
                    <div class="space col-lg-7"></div>
                    <div class="col-lg-4">
                        <label class="text-default">Fojas(<span class="text-danger">*</span>)</label>
                        <div class=" text-danger">{{ form_errors(form.fojas) }}</div>
                        {{ form_widget(form.fojas) }}
                    </div>    
                    <div class="space col-lg-7"></div>                 
                    <div class="col-lg-4">
                        <label class="text-default">Fecha de Inicio(<span class="text-danger">*</span>)</label>
                        <div class=" text-danger">{{ form_row(form.fechaInicio, { 'id': 'date1' })}} </div>
                        {{ form_widget(form.fechaInicio) }}
                    </div>  
                    {{ form_errors(form.fechaFin) }}
                    <div class="col-lg-4">
                        <label class="text-default">Fecha de Fin.</label>
                        {{ form_row(form.fechaFin, { 'id': 'date2' })}} 
                        {{ form_widget(form.fechaFin) }}
                    </div>                      
                </div>
                <hr/>              
                <label class="text-default">Concepto(<span class="text-danger">*</span>)</label>
                {{ form_errors(form.concepto) }}
                {{ form_widget(form.concepto) }}
                <hr/>

                <div class="col-lg-3 float left">
                    {{ form_widget(form.Guardar) }}
                    <button class="btn btn-secondary" type="button" onclick="history.back()"  role="button">Volver</button>
                </div>
            </div>
            {{form_end(form)}}

        </div>
        <script>
            $('#expediente_tema').autocompleter({
                url_list: "{{ path('tema_search') }}",
                url_get: "{{ path('tema_get') }}"
            });

        </script>     


    {% endblock %}