
{% extends "layout.html.twig" %}

{% block contentmain %}

    <style>
        .modal-header-warning {
            color:#fff;
            padding:9px 15px;
            border-bottom:1px solid #eee;
            background-color: #060325;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        /* Important part */
        .modal-dialog{
            overflow-y: initial !important
        }
        .modal-body{
            height: 500px;
            overflow-y: auto;
        }
    </style>

    <div class="content">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-dark search" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-search-plus"></i>   Búsqueda de un Expediente
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form_start(formExpedienteFilter) }}
                        {{ form_errors(formExpedienteFilter) }}

                        <label class="text-default">Número de expediente</label><br/>
                        <label class="text-info">Código de la Mesa - Número - Dígito</label>
                        <div class="row">
                            <div class="threecol col-lg-1">
                                {{ form_widget(formExpedienteFilter.codigoExpediente) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.codigoExpediente) }}
                                </div>
                            </div>
                            <div class="threecol col-lg-2">
                                {{ form_widget(formExpedienteFilter.numeroExpediente) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.numeroExpediente) }}
                                </div>
                            </div>
                            <div class="threecol col-lg-1">
                                {{ form_widget(formExpedienteFilter.digitoExpediente) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.digitoExpediente) }}
                                </div>
                            </div>
                        </div>

                        <div class="threecol col-lg-1">
                            {{ form_widget(formExpedienteFilter.digitoExpediente) }}
                            <div class="help-block with-errors">
                                {{ form_errors(formExpedienteFilter.digitoExpediente) }}
                            </div>
                        </div>
                        <hr/>
                        <div class="threecol col-lg-4">
                            {{ form_widget(formExpedienteFilter.Buscar) }}
                            {{ form_widget(formExpedienteFilter.Limpiar) }}

                        </div>

                    </div>
                </div>
            </div>



            {% if expedientes|length >0 %}
                <hr/>
                {% set expediente =  expedientes[0]%}

                <table class="table table-bordered"> 
                    <thead class="thead-dark">

                        <tr>
                            <th scope="col"> <strong> EXPEDIENTE NÚMERO: {{expediente}} </th>
                            <th scope="col"><i class="fas fa-info-circle "></i> DETALLE</th>
                        </tr>

                    </thead>

                    <tbody>
                        <tr>
                            <th class="w-25">Iniciador Dependencia</th>
                            <td  class="bg-white">{{ expediente.iniciadorDependencia}}</td>
                        </tr>
                        <tr>
                            <th class="w-25">Tema</th>
                            <td class="bg-white">{{ expediente.tema}}</td>
                        </tr>
                        <tr>
                            <th class="w-25">Concepto</th>
                            <td class="bg-white">{{ expediente.concepto}}</td>
                        </tr>
                        <tr>
                            <th class="w-25">Total de Fojas</th>
                            <td class="bg-white">{{ expediente.totalFojas }} </td>
                        </tr>
                        <tr>
                            <th class="w-25">Tipo</th>
                            <td  class="bg-white">{{ expediente.tipo}}</td>
                        </tr>
                        <tr>
                            <th class="w-25">Fecha de inicio</th>
                            <td class="bg-white">{{ expediente.fechaInicio|date('d-m-Y')}}</td>
                        </tr>
                        <tr>
                            <th class="w-25">Fecha de fin</th>
                            <td  class="bg-white">{{ expediente.fechaFin|date('d-m-Y')}}</td>
                        </tr>
                        <tr>
                            <th class="w-25 bg-gray">Último Pase</th>
                            <td  class="bg-white">
                                {{ expediente.ultimoMovimiento.ubicacion}}

                                - {{ expediente.ultimoMovimiento.ubicacion.dependencia }}

                                , <strong>fecha {{  expediente.ultimoMovimiento.fecha|date('d-m-Y') }},  a las {{ expediente.ultimoMovimiento.fecha|date('H:i') }} hs</strong>
                            </td>
                        </tr>  
                        <tr>
                            <th class="w-25 bg-gray">Ubicacion Actual</th>
                            <td  class="bg-white">
                                {{ expediente.movimientoActual.ubicacion}}                          
                                - {{ expediente.movimientoActual.ubicacion.dependencia }}
                                , <strong>fecha {{ expediente.movimientoActual.fecha|date('d-m-Y') }}, a las {{ expediente.movimientoActual.fecha|date('H:i') }} hs</strong>
                            </td>
                        </tr>   

                        {% if expediente.estado == 'ASOCIADO' and expediente.fechaBaja == null%}                        
                            <tr>
                                <th class="w-25 bg-gray">ASOCIADO A EXPEDIENTE</th>
                                <td  class="bg-white">

                                    {{ expediente_padre }}
                                    <br/>
                                <td/>
                            </tr>              
                        {% endif %}

                    </tbody>
                    <tfoot>
                </table> 


            {% endif %}
        </div>

    </div>
{% endblock %}