
{% extends "layout.html.twig" %}

{% block contentmain %}

    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;
            padding:10px;            
        }

        .cod{
            width:60px;

        }
        .num{
            width:115px;
            margin-left:-4px;
        }
        .dig{
            width:35px;
            margin-left:-32px;

        }
        .bg-white{
            background-color:red;
        }
    </style>
    
    
    <div class="content">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-dark search" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-search-plus"></i>   Búsqueda de un Expediente
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form_start(formExpedienteFilter) }}
                        {{ form_errors(formExpedienteFilter) }}
                        
                        <label class="text-default">Número de expediente</label><br/>
                        <label class="text-info">Ingrese el Número de Expediente con: 5 (cinco) digitos para código - 7 (siete) dígitos para número - 1 (un) dígito</label>
                        <div class="row">
                            <div class="threecol col-lg-1">
                                {{ form_widget(formExpedienteFilter.codigoExpediente) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.codigoExpediente) }}
                                </div>
                            </div>
                            <div class="threecol col-lg-2">
                                {{ form_widget(formExpedienteFilter.numeroExpediente) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.numeroExpediente) }}
                                </div>
                            </div>
                            <div class="threecol col-lg-1">
                                {{ form_widget(formExpedienteFilter.digitoExpediente) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.digitoExpediente) }}
                                </div>
                            </div>
                        </div>
                             
                        <div class="threecol col-lg-1">
                                {{ form_widget(formExpedienteFilter.digitoExpediente) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.digitoExpediente) }}
                                </div>
                        </div>
                            <hr/>
                        <div class="threecol col-lg-4">
                                {{ form_widget(formExpedienteFilter.Buscar) }}
                                {{ form_widget(formExpedienteFilter.Limpiar) }}
                                
                            </div>
                        
                </div>
        </div>
        </div>
        
        
        
        {% if expedientes|length >0 %}
        
            {% set expediente =  expedientes[0]%}
  
            <table class="table table-bordered"> 
                <thead class="thead-dark">
                   
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col"><i class="fas fa-info-circle "></i> <strong> EXPEDIENTE NÚMERO: {{expediente.codigoExpediente }}-{{expediente.numeroExpediente }}-{{expediente.digitoExpediente }}</th>
                    </tr>

                </thead>
                
                <tbody>
                        <tr>
                            <th class="w-25">TEMA</th>
                            <td class="bg-white">{{ expediente.tema}}</td>
                        </tr>
                        <tr>
                            <th class="w-25">CONCEPTO</th>
                            <td class="bg-white">{{ expediente.concepto}}</td>
                        </tr>
                        <tr>
                            <th class="w-25">TOTAL DE FOJAS</th>
                            <td class="bg-white">{% set fojas = expediente.fojas %}

                            {% for caratula in expediente.caratulas.getValues %}

                                {% set fojas = fojas+caratula.fojas %}

                            {% endfor %}

                            {{ fojas }} </td>
                        </tr>
                            <tr>
                        <th class="w-25">TIPO</th>
                        <td  class="bg-white">{{ expediente.tipo}}</td>
                    </tr>
                    <tr>
                        <th class="w-25">INICIADOR DEPENDENCIA</th>
                        <td  class="bg-white">{{ expediente.iniciadorDependencia}}</td>
                    </tr>
                    <tr>
                        <th class="w-25">FECHA DE INICIO</th>
                        <td class="bg-white">{{ expediente.fechaInicio|date('d-m-Y')}}</td>
                    </tr>
                    <tr>
                        <th class="w-25">FECHA DE FIN</th>
                        <td  class="bg-white">{{ expediente.fechaFin|date('d-m-Y')}}</td>
                    </tr>
                    <tr>
                        <th class="w-25">ULTIMO PASE</th>
                        <td  class="bg-white">
                            {{ expediente.ultimaUbicacion}}

                            - {{ expediente.ultimaUbicacion.dependencia }}

                            , en fecha <strong>{{ ultima_fecha }}</strong>
                        </td>
                    </tr>  
                    <tr>
                        <th class="w-25">UBICACION ACTUAL</th>
                        <td  class="bg-white">
                            {{ expediente.ubicacionActual}}                          
                            - {{ expediente.ubicacionActual.dependencia }}
                            , desde el <strong>{{ actual_fecha }}</strong>
                        </td>
                    </tr>   


                    {% if expediente.estado == 'ASOCIADO' %}                        
                        <tr>
                            <th class="w-25 bg-gray">ASOCIADO A EXPEDIENTE</th>
                            <td  class="bg-white">

                                {{ expediente_padre }}
                                <br/>
                            <td/>
                        </tr>              
                    {% endif %}

                </tbody>
                <tfoot>
            </table> 
    

        {% endif %}
    </div>
         
         </div>
{% endblock %}