{% extends "layout.html.twig" %}

{% block title %}GIE DPV - Carátulas{% endblock %}          

{% block contentmain %}
    <div class="content">
        <div class="title">
            <strong>{{ accion }} Carátula para Expediente Nro. - {{ expediente}}</strong>
        </div>
        <hr/>
        {{form_start(form,{'action':'','method':'POST'})}}
        <div class="row">
            <div class="col-lg-7">
                <label class="text-default">Tema</label>
                {{ form_errors(form.tema) }}
                {{ form_widget(form.tema) }}        
            </div>
            <div class="space col-lg-10"></div>
            <div class="col-lg-4">
                <label class="text-default">Fojas</label>
                <div class=" text-danger">{{ form_errors(form.fojas) }}</div>
                {{ form_widget(form.fojas) }}
            </div>
            <div class="col-lg-12">
                <label class="text-default">Concepto</label>
                {{ form_errors(form.concepto) }}
                {{ form_widget(form.concepto) }}
            </div>
        </div>
        <hr/>
        {{ form_widget(form.Aceptar) }}
         <button class="btn btn-secondary" type="button" onclick="history.back()"  role="button">Volver</button>
        {{form_end(form)}}
    </div>
        <script>
            $('#caratulaagregada_tema').autocompleter({
                url_list: "{{ path('tema_search') }}",
                url_get: "{{ path('tema_get') }}"
            });
        </script>

    {% endblock %}