{% extends "layout.html.twig" %}

{% block contentmain %}

    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;
            padding:10px;            
        }

    </style>

    <div class="content">

        <strong>EXPEDIENTE {{expediente.codigoExpediente }}-{{expediente.numeroExpediente }}-{{expediente.digitoExpediente }}, AGREGAR EXPEDIENTE ASOCIADO</strong>
        <hr/>

        {{form_start(form,{'action':'','method':'POST'})}}
        <div class="row">
            <label class="text-default">EXPEDIENTE ASOCIADO</label>
            {{ form_errors(form.expedienteAsociado) }}
            {{ form_widget(form.expedienteAsociado) }}
            <label class="text-default">ORDEN DE ASOCIACIÓN</label>
            {{ form_errors(form.ordenAsociacion) }}
            {{ form_widget(form.ordenAsociacion) }}

            {{ form_widget(form.Aceptar) }}
            <a class="btn btn-default" onclick="history.back()"  role="button">Volver</a>

            {{form_end(form)}}    

        </div>
    </div>
            
   <script>
        $('#expedienteasociado_expedienteAsociado').autocompleter({
            url_list: "{{ path('expediente_asociado_search',{'id':expediente.id}) }}",
            url_get: "{{ path('expediente_asociado_get') }}"
        });
    </script>

{% endblock %}