{% extends "layout.html.twig" %}

{% block contentmain %}
    <style>

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }

        label{
            margin-top:6px;
        }
        .cod{
            width:60px;

        }
        .num{
            width:115px;
            margin-left:-4px;
        }
        .dig{
            width:35px;
            margin-left:-32px;

        }

        .modal-header-warning {
            color:#fff;
            padding:9px 15px;
            border-bottom:1px solid #eee;
            background-color: #060325;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

    </style>


    <div class="content">

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-dark search" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-search-plus"></i> Filtros de Búsqueda de Expedientes Asociados
                        </button>

                        {% set accion_habilitada = false %}
                        {% if app.user.role == 'ROLE_ADMIN' %}
                            {% set accion_habilitada = true %}
                        {%else%}

                            {% for responsable in expediente.ubicacionActual.responsables.getValues %}
                                {% if app.user == responsable.usuario %}
                                    {% set accion_habilitada = true %}
                                {% endif %}
                            {%endfor%}
                        {% endif %}  

                        {% if accion_habilitada == true  %}
                            <a href="{{ path('listado_expediente',
                                 {'currentPage':1,'modo':'asociado','padre_id':expediente.id}) }}" 
                               role="button" class="btn btn-info float-right">Nuevo Expediente Asociado</a>
                        {% endif %}

                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <form method="post" novalidate="true" id="form_buscar">
                            {{ form_errors(formExpedienteAsociadoFilter) }}
                            <label class="text-default">NUMERO DE EXPEDIENTE</label>
                            <div class="row">
                                <div class="threecol col-lg-1">
                                    {{ form_widget(formExpedienteAsociadoFilter.codigoExpediente) }}
                                    <div class="help-block with-errors">
                                        {{ form_errors(formExpedienteAsociadoFilter.codigoExpediente) }}
                                    </div>
                                </div>
                                <div class="threecol col-lg-2">
                                    {{ form_widget(formExpedienteAsociadoFilter.numeroExpediente) }}
                                    <div class="help-block with-errors">
                                        {{ form_errors(formExpedienteAsociadoFilter.numeroExpediente) }}
                                    </div>
                                </div>
                                <div class="threecol col-lg-1">
                                    {{ form_widget(formExpedienteAsociadoFilter.digitoExpediente) }}
                                    <div class="help-block with-errors">
                                        {{ form_errors(formExpedienteAsociadoFilter.digitoExpediente) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="threecol col-lg-4">
                                    {{ form_label(formExpedienteAsociadoFilter.descripcion, 'DESCRIPCION') }}
                                    {{ form_widget(formExpedienteAsociadoFilter.descripcion) }}
                                    <div class="help-block with-errors">
                                        {{ form_errors(formExpedienteAsociadoFilter.descripcion) }}
                                    </div>
                                </div> 
                                <div class="threecol col-lg-4">
                                    {{ form_label(formExpedienteAsociadoFilter.tema, 'CODIGO DE TEMA') }}
                                    {{ form_widget(formExpedienteAsociadoFilter.tema) }}
                                    <div class="help-block with-errors">
                                        {{ form_errors(formExpedienteAsociadoFilter.tema) }}
                                    </div>
                                </div> 


                            </div>

                            <hr/>
                            <div class="row">
                                <div class="col-lg-4">
                                    {{ form_widget(formExpedienteAsociadoFilter.filter) }}

                                    {{ form_widget(formExpedienteAsociadoFilter.reset) }}
                                </div>
                            </div>

                            {{ form_end(formExpedienteAsociadoFilter) }}

                        </form>              
                    </div>
                </div>
            </div>
            <hr/>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                <hr/>
            {% endfor %}

            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                <hr/>
            {% endfor %}
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">EXPEDIENTE</th>
                        <th scope="col">DESCRIPCION</th>
                        <th scope="col">FOJAS</th>
                        <th scope="col">CODIGO</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% set count = 0 %}
                    {% for expediente_asoc in asociados %}
                        <tr>
                            <td>{{expediente_asoc.expedienteAsociado}}</td>
                            <td>{{expediente_asoc.expedienteAsociado.tema.descripcion}}</td>
                            <td>{{expediente_asoc.expedienteAsociado.fojas}}</td>
                            <td>{{expediente_asoc.expedienteAsociado.tema.codigo}}</td>
                            <td><a class="btn btn-info" href="{{ path("ver_expediente", {'id':expediente_asoc.expedienteAsociado.id}) }}"  role="button" title="Ver Detalle"><i class="fas fa-search"></i></a>

                                {% if accion_habilitada == true  %}
                                    <a class="btn btn-warning" href="{{ path("editar_expediente", {'id':expediente_asoc.expedienteAsociado.id}) }}"  role="button" title="Modificar"><i class="fas fa-edit"></i></a>
                                        {#                            <a class="btn btn-danger" href="{{ path("remover_expediente_asociado", {'id':padre_id, 'id_asoc':expediente_asoc.expedienteAsociado.id}) }}"  role="button" title="Archivar"><i class="fas fa-trash-alt"></i></a>#}


                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal{{ count }}"><i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar"></i></button>    


                                    <!-- The Modal -->
                                    <div class="modal fade" id="myModal{{count}}">
                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header-warning">
                                                    <button type="button" class="close text-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title">Eliminar Expediente Asociado</h4>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    ¿Está seguro de quitar la asociacion del expediente {{expediente_asoc.expedienteAsociado}}?
                                                </div>

                                                <!-- Modal footer -->
                                                <div class="modal-footer">                                          
                                                    <button type="button" class="btn btn-primary"><a class="text-type btn-primary"href="{{ path("remover_expediente_asociado", {'id':padre_id, 'id_asoc':expediente_asoc.expedienteAsociado.id}) }}"  role="button">Si</a></button>                                   
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {% set count=count+1 %}
                                {%endif%}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>

        {% if asociados|length < totalItems %}
            <ul class="pagination">
                {%if (thisPage==1)%}           
                {%else%}
                    {%set thisPage= thisPage-1%}
                {%endif%}


                <li ><a class="page-link" href="{{ path('listado_asociado', {'id':expediente.id, "currentPage": thisPage}) }}">&laquo</a></li>
                    {% for i in 1..maxPages %}
                    <li><a class="page-link"  href="{{ path('listado_asociado', {'id':expediente.id, "currentPage": i}) }}">{{ i }}</a></li>
                    {% endfor %}

                {%if (page==maxPages)%}

                {%else%}
                    {%set page= page+1%}
                {%endif%}
                <li><a class="page-link" href="{{ path('listado_asociado', {'id':expediente.id, "currentPage": page}) }}">&raquo</a></li>

            </ul>
        {% endif %}            



        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>

    {% endblock %}