{% extends "layout.html.twig" %}


{% block contentmain %}

    <style>
        label{
            margin-top:6px;
        }
        .cod{
            width:60px;

        }
        .num{
            width:115px;
            margin-left:-4px;
        }
        .dig{
            width:35px;
            margin-left:-32px;

        }
        .modal-header-warning {
            color:#fff;
            padding:9px 15px;
            border-bottom:1px solid #eee;
            background-color: #060325;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

        }

    </style>


    <div class="content">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-dark search" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-search-plus"></i> Filtros de Búsqueda de Expediente - {{ app.user.persona.dependencia }}
                        </button>
                        {% set accion_habilitada = false %}
                        {% if app.user.role == 'ROLE_ADMIN' %}
                            {% set accion_habilitada = true %}
                        {%else%}
                            {% for responsable in app.user.persona.dependencia.mesaentrada.responsables.getValues %}
                                {% if user == responsable.usuario %}
                                    {% set accion_habilitada = true %}
                                {% endif %}
                            {%endfor%}
                        {% endif %}  

                        {% if asociado == false and accion_habilitada == true %}
                            <a href="{{ path('nuevo_expediente') }}" role="button" class="btn btn-info float-right"><i class="fas fa-file-alt"></i> Nuevo Expediente</a>
                        {% endif %}


                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form_start(formExpedienteFilter) }}
                        {{ form_errors(formExpedienteFilter) }}

                        <label class="text-default">NUMERO DE EXPEDIENTE</label>
                        <div class="row">
                            <div class="threecol col-lg-1">
                                {{ form_widget(formExpedienteFilter.codigoExpediente) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.codigoExpediente) }}
                                </div>
                            </div>
                            <div class="threecol col-lg-2">
                                {{ form_widget(formExpedienteFilter.numeroExpediente) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.numeroExpediente) }}
                                </div>
                            </div>
                            <div class="threecol col-lg-1">
                                {{ form_widget(formExpedienteFilter.digitoExpediente) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.digitoExpediente) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% if formExpedienteFilter.dependencia is defined %}
                                <div class="threecol col-lg-4">
                                    {{ form_label(formExpedienteFilter.dependencia, 'DEPENDENCIA') }}
                                    {{ form_widget(formExpedienteFilter.dependencia) }}
                                    <div class="help-block with-errors">
                                        {{ form_errors(formExpedienteFilter.dependencia) }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="threecol col-lg-5">
                                {{ form_label(formExpedienteFilter.tema, 'TEMA') }}
                                {{ form_widget(formExpedienteFilter.tema) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.tema) }}
                                </div>
                            </div>    
                            <div class="threecol col-lg-3">
                                {{ form_label(formExpedienteFilter.tipo, 'TIPO') }}
                                {{ form_widget(formExpedienteFilter.tipo) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.tipo) }}
                                </div>
                            </div>  
                            <div class="threecol col-lg-3">
                                {{ form_label(formExpedienteFilter.estado, 'ESTADO') }}
                                {{ form_widget(formExpedienteFilter.estado) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.estado) }}
                                </div>
                            </div>  


                            <div class="help-block with-errors">
                                {{ form_errors(formExpedienteFilter.fechaCarga) }}
                            </div>
                            <div class="threecol col-lg-2">            
                                {{ form_row(formExpedienteFilter.fechaCarga.left_date, { 'id': 'date1' })}} 
                                {{ form_widget(formExpedienteFilter.fechaCarga.left_date) }}

                            </div>   
                            <div class="threecol col-lg-2">
                                {{ form_row(formExpedienteFilter.fechaCarga.right_date, { 'id': 'date2' })}} 
                                {{ form_widget(formExpedienteFilter.fechaCarga.right_date) }}
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-lg-4">
                                {{ form_widget(formExpedienteFilter.filter) }}
                                {{ form_widget(formExpedienteFilter.reset) }}
                            </div>
                        </div>
                        {{ form_end(formExpedienteFilter) }}
                    </div>
                </div>
            </div>
            <hr/>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                <hr/>
            {% endfor %}

            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                <hr/>
            {% endfor %}



        </div>

        {% if expedientes|length >0 %}

            <div class="alert alert-info">
                <i class="fas fa-search"></i> Resultados de la búsqueda: {{ expedientes|length }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                {% set nuevoCount=0 %}
                {% set vistoCount=0 %}
                {% set bajaCount = 0 %}

                {% for expediente in expedientes %}
                    {% if expediente.estado == 'NUEVO' and expediente.fechaBaja is null %}
                        {% set nuevoCount= nuevoCount+1 %}
                    {% elseif expediente.estado == 'VISTO' and expediente.fechaBaja is null %}
                        {% set vistoCount= vistoCount+1 %}
                    {% endif %}
                    {% if expediente.fechaBaja is not null%}
                        {% set bajaCount=bajaCount+1 %}
                    {% endif %}
                {% endfor %}

                {% if nuevoCount > 0 %}
                    <i class="far fa-file"></i> Nuevos: {{nuevoCount}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                {% endif %}
                {% if vistoCount > 0 %}
                    <i class="fas fa-check"></i> Visto: {{vistoCount}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                {% endif %}
                {% if app.user.role == 'ROLE_ADMIN' %}
                    {% if bajaCount >0 %}
                        <i class="fas fa-trash-alt"></i> Baja: {{bajaCount}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    {% endif %}
                {% endif %}
            </div>
            <hr/>

        {% endif %}

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th style="padding:15px;" scope="col">NUMERO</th>
                    <th style="padding:15px;" scope="col">TEMA</th>
                    <th style="padding:15px;" class="text-center" scope="col">UBICACION ACTUAL</th>
                    <th style="padding:15px;" class="text-center" scope="col">ESTADO</th>
                    <th style="padding:15px;" class="text-center" scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% set count=0 %}
                {% for expediente in expedientes|reverse %}
                    <tr>
                        <td class="" style="padding:10px;">

                           {{expediente}}

                        </td>            
                        <td class="" style="padding:10px;">{{expediente.tema|e }}</td>         
                        <td class="text-center" style="padding:10px;">{{expediente.ubicacionActual|e }}</td>
                        <td class="text-center" style="padding:10px;">
                            {% if expediente.fechaBaja == null %}
                                {% if expediente.estado == 'NUEVO' %}
                                    <span class="badge badge-pill badge-info">NUEVO</span>
                                {% else %}
                                    <span class="badge badge-pill badge-success">VISTO</span>
                                {% endif %}
                            {% else %}
                                <span class="badge badge-pill badge-danger">BAJA</span>
                            {% endif %}

                        </td>  

                        {% if asociado == false %}
                            <td class="text-center" style="padding:10px;"><a class="btn btn-info" href="{{ path("ver_expediente", {'id':expediente.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Ver Detalle"><i class="fas fa-search"></i></a>

                                {#<a class="btn btn-danger" href="{{ path("eliminar_expediente", {'id':expediente.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fas fa-trash-alt"></i></a></td>#}
                                {% set accion_habilitada = false %}
                                {% if app.user.role == 'ROLE_ADMIN' %}
                                    {% set accion_habilitada = true %}
                                {%else%}
                                    {% for responsable in expediente.ubicacionActual.responsables.getValues %}
                                        {% if user == responsable.usuario %}
                                            {% set accion_habilitada = true %}
                                        {% endif %}
                                    {%endfor%}
                                {% endif %}  

                                {% if accion_habilitada == true %}
                                    <a class="btn btn-warning" href="{{ path("editar_expediente", {'id':expediente.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-primary" href="{{ path("elegir_movimiento", {'id':expediente.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Realizar un pase"><i class="fas fa-arrow-alt-circle-right"></i></a>

                                    {% if expediente.fechaBaja is null %}
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal{{ count }}"><i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar"></i></button>    


                                        <!-- The Modal -->
                                        <div class="modal fade" id="myModal{{count}}">
                                            <div class="modal-dialog modal-sm modal-dialog-centered">
                                                <div class="modal-content">

                                                    <!-- Modal Header -->
                                                    <div class="modal-header-warning">
                                                        <button type="button" class="close text-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title">Eliminar Expediente</h4>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        ¿Desea Eliminar el Expediente: {{ expediente }}?
                                                    </div>
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary"><a class="text-type btn-primary"href="{{ path("eliminar_expediente", {'id':expediente.id})  }}"  role="button">SI</a></button>                          
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        {% set count=count+1 %}
                                    {% else %}
                                        <a class="btn btn-success" href="{{ path("alta_expediente", {'id':expediente.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Dar de alta"><i class="fas fa-check-square"></i></a>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                            <td class="text-center"><a class="btn btn-info" href="{{ path("nuevo_expediente_asociado", {'id':padre_id, 'id_asoc':expediente.id}) }}"  
                                                       role="button" data-toggle="tooltip" 
                                                       data-placement="top" title="Asociar"></i>Asociar</a></td>

                        {% endif %}

                    </tr>
                {% endfor %}
                {% if expedientes|length <= limite %}
                    {% set filas_vacias = limite - expedientes|length %}
                    {% for i in totalItems..filas_vacias %}
                        <tr>
                            <td style="padding:23px;"></td>
                             <td style="padding:23px;"></td>
                              <td style="padding:23px;"></td>
                               <td style="padding:23px;"></td>
                                <td style="padding:23px;"></td>
                        </tr>
                    {% endfor %}
                {%endif%}
            </tbody>
        </table>


        <div class="row">
            <ul class="pagination">
                {%if (thisPage==1)%}           
                {%else%}
                    {%set thisPage= thisPage-1%}
                {%endif%}

                <li ><a class="page-link" href="{{ path('listado_expediente', {"currentPage": thisPage}) }}">&laquo</a></li>
                    {% for i in 1..maxPages %}
                    <li class="page-item active"><a class="page-link"  href="{{ path('listado_expediente', {"currentPage": i}) }}">{{ i }}</a></li>
                    {% endfor %}

                {%if (page==maxPages)%}

                {%else%}
                    {%set page= page+1%}
                {%endif%}
                <li><a class="page-link" href="{{ path('listado_expediente', {"currentPage": page}) }}">&raquo</a></li>

            </ul>
        </div>
    </div>

</div>

<script>

    $('#expediente_filter_tema').autocompleter({
        url_list: "{{ path('tema_search') }}",
        url_get: "{{ path('tema_get') }}"
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


{% endblock %}
