{% extends "AppBundle::layout.html.twig" %}

{% block contentmain %}

    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;
            padding:10px;            
        }

    </style>
    <div class="content"> 
        <i clas="fas fa-edit"></i> MODIFICAR DATOS
        <hr/>

        {{form_start(form,{'action':'','method':'POST'})}}
        {{ form_errors(form) }}
        {% if form.dependencia is defined %}
            <label class="text-default">Dependencia:</label>
            {{ form_errors(form.dependencia) }}
            {{ form_widget(form.dependencia) }}
        {% endif %}

        <label class="text-default">Nombre:</label>
        {{ form_errors(form.nombre) }}
        {{ form_widget(form.nombre) }}
        <label class="text-default">Apellido:</label>
        {{ form_errors(form.apellido) }}
        {{ form_widget(form.apellido) }}
        <label class="text-default">DNI:</label>
        <div class=" text-danger">{{ form_errors(form.dni) }}</div>
        {{ form_widget(form.dni) }}
        <label class="text-default">Cargo:</label>
        {{ form_errors(form.cargo) }}
        {{ form_widget(form.cargo) }}

        {{ form_widget(form.Aceptar) }}
        <a class="btn btn-default" onclick="history.back()"  role="button">Volver</a>

        {{form_end(form)}}

    </div>

{% endblock %}