{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;           
        }
        .expediente{
            margin-right: 12px;
            padding:15px;
        }
        .expediente p{
            margin-top:10px;
        }
        .titulo{
            height: 30px;
            padding:7px;
            background-color:black;
            color: #fff;
        }
        .panel{
            font-size: 15px; 
            margin-bottom: 20px;
            margin-right: 20px;
        }
        .form-exp{
            font-size:15px;
            padding:10px;
        }
        .title{
            font-size:16px;
        }

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }

    </style>



    <h4 class="text-center"><i class="fas fa-bars"></i> Lista de Lugares Físicos <a href="{{ path('nuevo_lugarfisico') }}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Nuevo Lugar Físico"><i class="fas fa-plus"></i></a></h4>
    <hr/>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-striped">
        <thead class="">
            <tr>
                {% if app.user.role == "ROLE_ADMIN" %}
                    <th scope="col">Lugar de origen</th>
                    {% endif %}
                <th scope="col">Tipo</th>
                <th scope="col">Descripción</th> 
                <th scope="col">Acceso</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for lugarfisico in lugaresfisicos|reverse %}
                <tr>
                    {% if app.user.role == "ROLE_ADMIN" %}
                        <td class="text-default">{{lugarfisico.dependencia.descripcion|e }}</td>
                    {% endif %}
                    <td class="text-default">{{lugarfisico.tipo|e }}</td>
                    <td class="text-default"><p>{{lugarfisico.descripcion|e }}</p></td>
                    <td class="text-default">{{lugarfisico.acceso|e }}</td>
                    <td><a class="btn btn-warning" href="{{ path('editar_lugarfisico',{'id':lugarfisico.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" href="{{ path('borrar_lugarfisico',{'id':lugarfisico.id}) }}"  role="button"><i class="far fa-file-archive" data-toggle="tooltip" data-placement="top" title="Borrar"></i></a></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <hr/>
{% endblock %}