{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;           
        }
        .expediente{
            margin-right: 12px;
            padding:15px;
        }
        .expediente p{
            margin-top:10px;
        }
        .titulo{
            height: 30px;
            padding:7px;
            background-color:black;
            color: #fff;
        }
        .panel{
            font-size: 15px; 
            margin-bottom: 20px;
            margin-right: 20px;
        }
        .form-exp{
            font-size:15px;
            padding:10px;
        }
        .title{
            font-size:16px;
        }
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }
    </style>



    <h4 class="text-center"><i class="fas fa-bars"></i> Lista de Personas <a href="{{ path('nueva_persona') }}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Nueva Persona"><i class="fas fa-plus"></i></a></h4>
    <hr/>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}


    <table class="table table-striped">
        <thead class="">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">DNI</th>
                <th scope="col">Cargo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in persona %}
                <tr>
                    <td class="text-default">{{persona.nombre|e }}</td>
                    <td class="text-default"><p>{{persona.apellido|e }}</p></td>
                    <td class="text-default">{{persona.dni|e }}</td>
                    <td class="text-default">{{persona.cargo|e }}</td>

                    <td> <a class="btn btn-warning" href="{{ path("editar_persona", {'id':persona.id}) }}"  role="button"><i class="fas fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></i></a>
                        <a class="btn btn-danger" href="{{ path("eliminar_persona", {'id':persona.id}) }}"  role="button"><i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar"></i></a></td>
                </tr>             
            {% endfor %}


        </tbody>
    </table>

    <ul class="pagination">
        {%if (thisPage==1)%}           
        {%else%}
            {%set thisPage= thisPage-1%}
        {%endif%}


        <li ><a class="page-link" href="{{ path('listado_persona', {"currentPage": thisPage}) }}">&laquo</a></li>
            {% for i in 1..maxPages %}
            <li><a class="page-link"  href="{{ path('listado_persona', {"currentPage": i}) }}">{{ i }}</a></li>
            {% endfor %}
        
        {%if (page==maxPages)%}

        {%else%}
            {%set page= page+1%}
        {%endif%}
        <li><a class="page-link" href="{{ path('listado_persona', {"currentPage": page}) }}">&raquo</a></li>

    </ul>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <hr/>
{% endblock %}