{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    
    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
         }
         input[type=submit]{
            margin-bottom: 10px;
            padding:10px;            
         }
        body{
            font-size: 11px;
        }
        .title{
            font-size:18px;
            margin-left:18px;
            margin-bottom:10px;
        }
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=textarea]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;
            padding:10px;            
        }
        .col-center{
            float: none;
            margin: 0 auto;
        }
        .aceptar{
            float: none;
            margin: 0 auto;
        }

        .user{
            margin-top: 10px;
            width:250px;
            margin-left:0;
        }
    </style>

        

    <div class="formu col-lg-4 col-md-offset-1">
        <div class="border border-primary">
            <h4 class="text-center">Gestionar mesa de Entrada - {{ dependencia.descripcion }}</h4>
            <hr/>
            {{form_start(form,{'action':'','method':'POST'})}}
            
                     <label class="text-default">CODIGO DE EXPEDIENTE(<span class="text-danger">*</span>)</label>                 
                    {{ form_errors(form.codigoExpediente) }}
                    {{ form_widget(form.codigoExpediente) }}
                    <hr/>
                    <label class="text-default">USUARIO/S RESPONSABLE/S(<span class="text-danger">*</span>)</label>                 
                    <div class="responsable_items">                       
                        {% for responsable in form.responsables %}
                            {{ form_row(responsable) }}
                        {% endfor %}                       
                    </div>
                    <div class="add float right"></div>
                    <div class="responsables" data-prototype="{{ form_widget(form.responsables.vars.prototype)|e('html_attr') }}"></div>
                    <hr/>
                    {{ form_widget(form.Guardar) }}
           
                  
            {{form_end(form)}}
        </div>
    </div>
            
      <script>
            var $collectionHolder;

            // setup an "add a tag" link
            var $addResponsableButton = $('<button type="button" class="add_responsable form-control btn btn-danger">Agregar</button>');
            var $newLinkLi = $('.add').append($addResponsableButton);
            var totalCount=0;
            jQuery(document).ready(function () {
                // Get the ul that holds the collection of tags
                $collectionHolder = $('.responsables');
                $collectionHolder2 = $('.responsable_items');
                
                // add a delete link to all of the existing tag form li elements

                // add the "add a tag" anchor and li to the tags ul
                $collectionHolder.append($newLinkLi);

                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $collectionHolder.data('index', $collectionHolder.find(':input').length+$collectionHolder2.find(':input').length);                               
        
                totalCount = $collectionHolder.data('index');
               
                
                for (var i = 1; i <= totalCount; i++) {
                      addTagFormDeleteLink($('.responsable_items').children().eq(i), $collectionHolder);
                }
                
                $addResponsableButton.on('click', function (e) {
                    // add a new tag form (see next code block)
                    addResponsableForm($collectionHolder, $newLinkLi);
                });
            });

            function addTagFormDeleteLink($tagFormLi, $collectionHolder) {
                var $removeFormButton = $('<button type="button">Delete this tag</button>');
                $tagFormLi.append($removeFormButton);

                $removeFormButton.on('click', function (e) {
                    // remove the li for the tag form
                    var index = $collectionHolder.data('index');
                    $tagFormLi.remove();

                    $collectionHolder.data('index', index - 1);
                });
            }

            function addResponsableForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');
                // get the new index
                var index = $collectionHolder.data('index');
                
                var newForm = prototype;
                // You need this only if you didn't set 'label' => false in your tags field in TaskType
                // Replace '__name__label__' in the prototype's HTML to
                // instead be a number based on how many items we have
                // newForm = newForm.replace(/__name__label__/g, index);

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                newForm = newForm.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('.responsable_items').append(newForm);
                if (index > 0) {
                    //console.log(totalCount);
                    addTagFormDeleteLink($($newFormLi).children().eq(index-1), $collectionHolder);
                }

                //console.log($($newFormLi).children().eq(index-1));
                $newLinkLi.before($newFormLi);

            }


        </script>
            
{% endblock %}