{% extends "AppBundle::layout.html.twig" %}

{% block contentmain %}

    <style>

        .user{
            width:250px;
            margin-left:0;
        }
        .delete{
            width:160px;
            position:relative;
            left:265px;
            bottom:30px;
        }
    </style>



    <div class="content">

        <h4 class="text-center">Gestionar mesa de Entrada - {{ dependencia.descripcion }}</h4>
        <hr/>
        {{form_start(form,{'action':'','method':'POST'})}}
        <div class="filtro">
            <label class="text-default">CODIGO DE EXPEDIENTE(<span class="text-danger">*</span>)</label>                 
            {{ form_errors(form.codigoExpediente) }}
            {{ form_widget(form.codigoExpediente) }}
            <hr/>
            <label class="text-default">USUARIO/S RESPONSABLE/S(<span class="text-danger">*</span>)</label>                 
            <div class="responsable_items">                       
                {%set count = 0%}
                {% for responsable in form.responsables %}
                    {% if count == 0 %}
                        {{ form_row(responsable.usuario,{'disabled':'disabled'})}}
                    {%else%}
                        {{ form_row(responsable)}}

                    {%endif%}
                    {% set count = count+1%}
                {% endfor %}                      
            </div>
            <div class="add col-lg-3"></div>
            <div class="responsables" data-prototype="{{ form_widget(form.responsables.vars.prototype)|e('html_attr') }}"></div>
            <hr/>
            <div class="row col-lg-6">
                <div class="col-lg-4">
                    {{ form_widget(form.Guardar) }}
                </div>
            </div>
        </div>

        {{form_end(form)}}
    </div>

    <script>

        $("#mesaentrada_Guardar").click(function () {
            $(".respon").prop("disabled", false);
            return true;
        });

        var $collectionHolder;

        // setup an "add a tag" link
        var $addResponsableButton = $('<button type="button" class="add_responsable form-control btn btn-info">Agregar Usuario</button>');
        var $newLinkLi = $('.add').append($addResponsableButton);
        var totalCount = 0;
        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('.responsables');
            $collectionHolder2 = $('.responsable_items');

            // add a delete link to all of the existing tag form li elements

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length + $collectionHolder2.find(':input').length);

            totalCount = $collectionHolder.data('index');


            for (var i = 0; i <= totalCount; i++) {
               if (i == 0) {
                    addTagFormDeleteLink($('.responsable_items').children().eq(i), $collectionHolder, true);
                } else {
                    addTagFormDeleteLink($('.responsable_items').children().eq(i), $collectionHolder, false);
                }
            }

            $addResponsableButton.on('click', function (e) {
                // add a new tag form (see next code block)
                addResponsableForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagFormDeleteLink($tagFormLi, $collectionHolder, disabled) {
            if (!disabled) {
                var $removeFormButton = $('<button class="delete btn btn-danger" type="button">Quitar Usuario</button>');
                $tagFormLi.append($removeFormButton);

                $removeFormButton.on('click', function (e) {
                    // remove the li for the tag form
                    var index = $collectionHolder.data('index');
                    $tagFormLi.remove();

                    $collectionHolder.data('index', index - 1);
                });
            } else {
                var $removeFormButton = $('<button disabled class="delete btn btn-danger" type="button">Quitar Usuario</button>');
                $tagFormLi.append($removeFormButton);
            }

        }

        function addResponsableForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('.responsable_items').append(newForm);
            if (index > 0) {
                //console.log(totalCount);
                addTagFormDeleteLink($($newFormLi).children().eq(index - 1), $collectionHolder);
            }

            //console.log($($newFormLi).children().eq(index-1));
            $newLinkLi.before($newFormLi);

        }


    </script>

{% endblock %}