
{% extends "AppBundle::layout.html.twig" %}

{% block contentmain %}

    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;
            padding:10px;            
        }

        .cod{
            width:60px;

        }
        .num{
            width:115px;
            margin-left:-4px;
        }
        .dig{
            width:35px;
            margin-left:-32px;

        }
        .bg-white{
            background-color:red;
        }
    </style>
    <div class="content">
        <h4>Búsqueda de Expediente</h4>
        <hr/>
        <div class="filtro">
            {{ form_start(formExpedienteFilter) }}
            {{ form_errors(formExpedienteFilter) }}

            <label class="text-default">NUMERO DE EXPEDIENTE</label>
            <div class="row">
                <div class="threecol col-lg-1">
                    {{ form_widget(formExpedienteFilter.codigoExpediente) }}
                    <div class="help-block with-errors">
                        {{ form_errors(formExpedienteFilter.codigoExpediente) }}
                    </div>
                </div>
                <div class="threecol col-lg-2">
                    {{ form_widget(formExpedienteFilter.numeroExpediente) }}
                    <div class="help-block with-errors">
                        {{ form_errors(formExpedienteFilter.numeroExpediente) }}
                    </div>
                </div>
                <div class="threecol col-lg-1">
                    {{ form_widget(formExpedienteFilter.digitoExpediente) }}
                    <div class="help-block with-errors">
                        {{ form_errors(formExpedienteFilter.digitoExpediente) }}
                    </div>
                </div>
            </div>
            {{ form_end(formExpedienteFilter) }}
        </div>
        {% if expedientes|length >0 %}
            <hr/>
            {% set expediente =  expedientes[0]%}

            <table class="table table-bordered"> 
                <thead class="thead-dark">
                </thead>
                <tbody >
                    <tr>
                        <th class="w-25 bg-gray">TEMA</th>
                        <td  class="bg-white">{{ expediente.tema}}</td>
                    </tr>
                    <tr>
                        <th class="w-25 bg-gray">CONCEPTO</th>
                        <td  class="bg-white">{{ expediente.concepto}}</td>
                    </tr>
                    <tr>
                        <th class="w-25 bg-gray">TOTAL DE FOJAS</th>
                        <td  class="bg-white">

                            {% set fojas = expediente.fojas %}

                            {% for caratula in expediente.caratulas.getValues %}

                                {% set fojas = fojas+caratula.fojas %}

                            {% endfor %}

                            {{ fojas }} 


                        </td>
                    </tr>
                    <tr>
                        <th class="w-25 bg-gray">TIPO</th>
                        <td  class="bg-white">{{ expediente.tipo}}</td>
                    </tr>
                    <tr>
                        <th class="w-25 bg-gray">INICIADOR DEPENDENCIA</th>
                        <td  class="bg-white">{{ expediente.iniciadorDependencia}}</td>
                    </tr>
                    <tr>
                        <th class="w-25 bg-gray">FECHA DE INICIO</th>
                        <td class="bg-white">{{ expediente.fechaInicio|date('d-m-Y')}}</td>
                    </tr>
                    <tr>
                        <th class="w-25 bg-gray">FECHA DE FIN</th>
                        <td  class="bg-white">{{ expediente.fechaFin|date('d-m-Y')}}</td>
                    </tr>
                    <tr>
                        <th class="w-25 bg-gray">ULTIMO PASE</th>
                        <td  class="bg-white">
                            {{ expediente.ultimaUbicacion}}

                            - {{ expediente.ultimaUbicacion.dependencia }}

                            , en fecha <strong>{{ ultima_fecha }}</strong>
                        </td>
                    </tr>  
                    <tr>
                        <th class="w-25 bg-gray">UBICACION ACTUAL</th>
                        <td  class="bg-white">
                            {{ expediente.ubicacionActual}}                          
                            - {{ expediente.ubicacionActual.dependencia }}
                            , desde el <strong>{{ actual_fecha }}</strong>
                        </td>
                    </tr>   


                    {% if expediente.estado == 'ASOCIADO' %}                        
                        <tr>
                            <th class="w-25 bg-gray">ASOCIADO A EXPEDIENTE</th>
                            <td  class="bg-white">

                                {{ expediente_padre }}
                                <br/>
                            <td/>
                        </tr>              
                    {% endif %}

                </tbody>
                <tfoot>
            </table>  

        {% endif %}
    </div>
{% endblock %}