{% extends "AppBundle::layout.html.twig" %}

{% block content %}  
    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;           
        }
        .panel{
            font-size: 11px;        
        }
        .form-exp{
            font-size:15px;
            padding:10px;
        }
        .title{
            font-size:16px;
        }
    </style>

    <div class="col-ls-12" style="padding-left:  30px; padding-right:  30px">
        <div class="panel panel-primary ">
            <div class="title panel-heading">Carga de datos -> Expediente</div>
            <div class="panel panel-body">
                <br/>
                {{form_start(form,{'action':'','method':'POST'})}}        
                <div class="col-lg-14">
                    <div class="col-lg-5">
                        <label class="exp text-default">NRO. DE EXPEDIENTE</label>
                        {{ form_errors(form.nroExpediente) }}
                        {{ form_widget(form.nroExpediente) }}
                    </div>
                    <div class="col-lg-3 ">
                        <label class="text-default">TIPO</label>
                        {{ form_errors(form.tipo) }}
                        {{ form_widget(form.tipo) }}
                    </div>
                    <div class="col-lg-2 ">
                        <label class="text-default">CODIGO TEMA</label>
                        {{ form_errors(form.tema) }}
                        {{ form_widget(form.tema) }}
                    </div>
                    <div class="col-lg-2">
                        <label class="text-default">FOJAS</label>
                        {{ form_errors(form.fojas) }}
                        {{ form_widget(form.fojas) }}
                    </div>                   
                    <div class="col-lg-6">
                        <label class="text-default">DEPENDENCIA</label>
                        {{ form_errors(form.iniciadorDependencia) }}
                        {{ form_widget(form.iniciadorDependencia) }}
                    </div>                                           
                    <div class="col-lg-2">
                        <label class="text-default">FECHA DE INICIO</label>
                        {{ form_row(form.fechaInicio, { 'id': 'date1' })}} 
                        {{ form_errors(form.fechaInicio) }}
                        {{ form_widget(form.fechaInicio) }}
                    </div>  
                    <div class="col-lg-2">
                        <label class="text-default">FECHA DE FIN.</label>
                        {{ form_row(form.fechaFin, { 'id': 'date2' })}} 
                        {{ form_errors(form.fechaFin) }}
                        {{ form_widget(form.fechaFin) }}
                    </div>                      
                </div>
                <hr/>              
                <div class="col-lg-12">
                    <label class="text-default">CONCEPTO</label>
                    {{ form_errors(form.concepto) }}
                    {{ form_widget(form.concepto) }}
                    <hr/>
                </div>
                <div class="col-lg-12">
                    <label class="text-default">EXPEDIENTE/S ASOCIADOS</label>                 
                    <div class="expediente_items">


                    </div>
                    <div class="add float right"></div>
                    <div class="expedientes" data-prototype="{{ form_widget(form.expedientes_asociados.vars.prototype)|e('html_attr') }}">

                    </div>
                    <hr/>     
                </div>
                <div class="col-lg-3 float left">
                    {{ form_widget(form.Guardar) }}
                    <a class="btn btn-default" onclick="history.back()"  role="button">Volver</a>
                </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>   
            
    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addResponsableButton = $('<button type="button" class="add_responsable form-control btn btn-success">Agregar nuevo Expediente Asociado</button>');
        var $newLinkLi = $('.add').append($addResponsableButton);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('.expedientes');

            // add a delete link to all of the existing tag form li elements
         
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

             
            $addResponsableButton.on('click', function (e) {
                // add a new tag form (see next code block)
                addResponsableForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagFormDeleteLink($tagFormLi,$collectionHolder) {
            var $removeFormButton = $('<button type="button">Delete this tag</button>');
            $tagFormLi.append($removeFormButton);

            $removeFormButton.on('click', function (e) {
                // remove the li for the tag form
                $tagFormLi.remove();
                var index = $collectionHolder.data('index');
                $collectionHolder.data('index', index - 1);
            });
        }

        function addResponsableForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);
           
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);
            
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('.expediente_items').append(newForm);
            addTagFormDeleteLink($($newFormLi).children().eq(index-1),$collectionHolder);
           
            //console.log($($newFormLi).children().eq(index-1));
            $newLinkLi.before($newFormLi);

        }
    </script>         
            
            
    <script>
        var $ubicacion = $('#expediente_ubicacionActual');
        var $form = $ubicacion.closest('form');

        $ubicacion.on('change', function () {
            var data = $ubicacion.serialize();
            var index = $ubicacion.val();
            $.ajax({
                url: "{{ path('add_evento') }}",
                type: "POST",
                data: data,
                success: function (html) {
                    // la variable html representa toda la página junto con el select de estados.
                    // el cual tomamos y colocamos para reemplazar el select actual.


                    if (index == 0) {
                        $('#persona').hide();
                        $('#mesaentrada').hide();
                        $('#lugarfisico').hide();
                    }
                    if (index == 1) {
                        $('#persona').hide();
                        $('#lugarfisico').hide();
                        $('#mesaentrada').show();


                        if ($('.codigo > input').size() <= 0) {
                            $('#contenido').html($(html).find('#expediente_mesaentrada'));
                            $('#expediente_mesaentrada_codigoExpediente').appendTo(".codigo");
                        }

                    }
                    if (index == 2) {
                        $('#mesaentrada').hide();
                        $('#lugarfisico').hide();
                        $('#persona').show();

                        if ($('.nombre > input').size() <= 0) {
                            $('#contenido').html($(html).find('#expediente_persona'));
                            $('#expediente_persona_nombre').appendTo(".nombre");
                            $('#expediente_persona_apellido').appendTo(".apellido");
                            $('#expediente_persona_dni').appendTo(".dni");
                            $('#expediente_persona_cargo').appendTo(".cargo");
                        }

                    }
                    if (index == 3) {
                        $('#mesaentrada').hide();
                        $('#persona').hide();
                        $('#lugarfisico').show();
                        if ($('.tipo > input').size() <= 0) {
                            $('#contenido').html($(html).find('#expediente_lugarfisico'));
                            $('#expediente_lugarfisico_tipo').appendTo(".tipo");
                            $('#expediente_lugarfisico_descripcion').appendTo(".descripcion");
                            $('#expediente_lugarfisico_acceso').appendTo(".acceso");
                        }
                    }
                }
            });
        });
    </script>

{% endblock %}