{% extends "AppBundle::layout.html.twig" %}

{% block contentmain %}

    <div class="content">
        <div class="row">
            <table class="table table-bordered"> 
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col"><i class="fas fa-info-circle "></i> <strong> RESOLUCIÓN EXPEDIENTE: {{expediente.codigoExpediente }}-{{expediente.numeroExpediente }}-{{expediente.digitoExpediente }}</th>
                    </tr>

                </thead>
                
                <tbody>
                        <tr>
                            <th class="w-25">USUARIO</th>
                            <td>{{ expediente.resolucion.usuario}}</td>
                        </tr>
                        <tr>
                            <th class="w-25">NUMERO DE RESOLUCION</th>
                            <td>{{ expediente.resolucion.numeroResolucion}}</td>
                        </tr>
                        <tr>
                            <th class="w-25">TIPO</th>
                            <td>{{ expediente.resolucion.tipo}}</td>
                        </tr>
                        <tr>
                            <th class="w-25">FECHA</th>
                            <td>{{ expediente.resolucion.fechaResolucion}}</td>
                        </tr>
                    </tbody>
                
                <tfoot>
            </table>  
        <a class="btn btn-primary" href="#" onclick="history.back()"  role="button">Volver</a>

        </div>

    </div>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}