{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    
    
    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;           
        }
        .panel{
            font-size: 11px;        
        }
        .form-exp{
            font-size:15px;
            padding:10px;
        }
        .title{
            font-size:16px;
        }
    </style>


    <div class="col-xs-9 col-md-offset-1">
        <div class="panel panel-primary ">
            <div class="title panel-heading">Carga de datos -> Expediente</div>
            <div class="panel panel-body">
                <br/>
                {{form_start(form,{'action':'','method':'POST'})}}        
                <div class="col-lg-14">
                   
                    <div class="col-lg-6">
                        <label class="exp text-default">NRO. DE EXPEDIENTE</label>
                        {{ form_errors(form.nroExpediente) }}
                        {{ form_widget(form.nroExpediente) }}
                    </div>
                     <div class="col-lg-2">
                        <label class="text-default">NRO. FOJAS</label>
                        {{ form_errors(form.fojas) }}
                        {{ form_widget(form.fojas) }}
                    </div>
                    <div class="col-lg-3 ">
                        <label class="text-default">TIPO</label>
                        {{ form_errors(form.tipo) }}
                        {{ form_widget(form.tipo) }}
                    </div>
                    <div class="col-lg-5">
                        <label class="text-default">DEPENDENCIA</label>
                        {{ form_errors(form.iniciadorDependencia) }}
                        {{ form_widget(form.iniciadorDependencia) }}
                    </div>   
                     <div class="col-lg-3">
                        <label class="text-default">FECHA DE INICIO</label>
                         {{ form_row(form.fechaInicio, { 'id': 'date1' })}} 
                        {{ form_errors(form.fechaInicio) }}
                        {{ form_widget(form.fechaInicio) }}
                    </div>  
                      <div class="col-lg-3">
                        <label class="text-default">FECHA DE FINALIZACION</label>
                        {{ form_row(form.fechaFin, { 'id': 'date2' })}} 
                        {{ form_errors(form.fechaFin) }}
                        {{ form_widget(form.fechaFin) }}
                    </div>   
                     <div class="col-lg-3">
                        <label class="text-default">UBICACION ACTUAL</label>
                        {{ form_errors(form.ubicacionActual) }}
                        {{ form_widget(form.ubicacionActual) }}
                    </div>   
                </div>
                <div class="col-lg-12">
                        <label class="text-default">CONCEPTO</label>
                        {{ form_errors(form.concepto) }}
                        {{ form_widget(form.concepto) }}
                        <hr/>
                </div>
                <div class="col-lg-3 float left">
                        {{ form_widget(form.Guardar) }}
                </div>
               {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}