{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;           
        }
        .expediente{
            margin-right: 12px;
            padding:15px;
        }
        .expediente p{
            margin-top:10px;
        }
        .titulo{
            height: 30px;
            padding:7px;
            background-color:black;
            color: #fff;
        }
        .panel{
            font-size: 15px; 
            margin-bottom: 20px;
            margin-right: 20px;
        }
        .form-exp{
            font-size:15px;
            padding:10px;
        }
        .title{
            font-size:16px;
        }

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }

    </style>



    <h4 class="text-center"><i class="fas fa-bars"></i>Movimientos - Expediente {{ expediente.nroExpediente }}</h4>
    <hr/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">UBICACION</th>
                <th scope="col">TIPO DE SALIDA</th>
                <th scope="col">USUARIO</th>
                <th scope="col">FECHA</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% set count = expediente.movimientos.getValues|length+1 %}

            {% for movimiento in expediente.movimientos.getValues|reverse%}
                <tr>
                    {% set count= count-1 %}
                    {% if count != expediente.movimientos.getValues|length %}
                        <td><i class="fas fa-arrow-up"></i> {{count}} </td>
                    {% else %}
                        <td><i class="fas fa-arrows-alt-h"></i> {{ count }} </td>
                    {% endif %}
                    <td>{{movimiento.ubicacion}}</td>
                    <td>{{movimiento.tipoSalida}}</td>
                    <td>{{movimiento.usuario}}</td>
                    <td>{{movimiento.fecha}}</td>
                    {% if (expediente.ubicacionActual == movimiento.ubicacion) and (count == expediente.movimientos.getValues|length) %}
                        <td><a class="btn btn-info" href=""  role="button" title="Ver Detalle"><i class="fas fa-search"></i></a>
                            <a class="btn btn-warning" href=""  role="button" title="Modificar"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" href=""  role="button" title="Archivar"><i class="fas fa-trash-alt"></i></a></td>
                            {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}

        </tbody>
    </table>



    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <hr/>
{% endblock %}