{% extends "AppBundle::layout.html.twig" %}


{% block contentmain %}

    <style>
        label{
            margin-top:6px;
        }
        .cod{
            width:60px;

        }
        .num{
            width:115px;
            margin-left:-4px;
        }
        .dig{
            width:35px;
            margin-left:-32px;

        }
        .modal-header-warning {
            color:#fff;
            padding:9px 15px;
            border-bottom:1px solid #eee;
            background-color: #060325;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

    </style>


    <div class="content">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-dark search" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-search-plus"></i> Filtros de Búsqueda de Expediente - {{ app.user.persona.dependencia }}
                        </button>
                        {% if asociado == false %}
                            <a href="{{ path('nuevo_expediente') }}" role="button" class="btn btn-info float-right"><i class="fas fa-file-alt"></i> Nuevo Expediente</a>
                        {% endif %}

                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form_start(formExpedienteFilter) }}
                        {{ form_errors(formExpedienteFilter) }}

                        <label class="text-default">NUMERO DE EXPEDIENTE</label>
                        <div class="row">
                            <div class="threecol col-lg-1">
                                {{ form_widget(formExpedienteFilter.codigoExpediente) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.codigoExpediente) }}
                                </div>
                            </div>
                            <div class="threecol col-lg-2">
                                {{ form_widget(formExpedienteFilter.numeroExpediente) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.numeroExpediente) }}
                                </div>
                            </div>
                            <div class="threecol col-lg-1">
                                {{ form_widget(formExpedienteFilter.digitoExpediente) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.digitoExpediente) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% if formExpedienteFilter.dependencia is defined %}
                                <div class="threecol col-lg-4">
                                    {{ form_label(formExpedienteFilter.dependencia, 'DEPENDENCIA') }}
                                    {{ form_widget(formExpedienteFilter.dependencia) }}
                                    <div class="help-block with-errors">
                                        {{ form_errors(formExpedienteFilter.dependencia) }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="threecol col-lg-5">
                                {{ form_label(formExpedienteFilter.tema, 'TEMA') }}
                                {{ form_widget(formExpedienteFilter.tema) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.tema) }}
                                </div>
                            </div>    
                            <div class="threecol col-lg-3">
                                {{ form_label(formExpedienteFilter.tipo, 'TIPO') }}
                                {{ form_widget(formExpedienteFilter.tipo) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.tipo) }}
                                </div>
                            </div>  
                            <div class="threecol col-lg-3">
                                {{ form_label(formExpedienteFilter.estado, 'ESTADO') }}
                                {{ form_widget(formExpedienteFilter.estado) }}
                                <div class="help-block with-errors">
                                    {{ form_errors(formExpedienteFilter.estado) }}
                                </div>
                            </div>  


                            <div class="help-block with-errors">
                                {{ form_errors(formExpedienteFilter.fechaInicio) }}
                            </div>
                            <div class="threecol col-lg-2">            
                                {{ form_row(formExpedienteFilter.fechaInicio.left_date, { 'id': 'date1' })}} 
                                {{ form_widget(formExpedienteFilter.fechaInicio.left_date) }}

                            </div>   
                            <div class="threecol col-lg-2">
                                {{ form_row(formExpedienteFilter.fechaInicio.right_date, { 'id': 'date2' })}} 
                                {{ form_widget(formExpedienteFilter.fechaInicio.right_date) }}
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-lg-4">
                                {{ form_widget(formExpedienteFilter.filter) }}
                                {{ form_widget(formExpedienteFilter.reset) }}
                            </div>
                        </div>
                        {{ form_end(formExpedienteFilter) }}
                    </div>
                </div>
            </div>
            <hr/>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                <hr/>
            {% endfor %}

            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                <hr/>
            {% endfor %}



        </div>

        {% if expediente|length >0 %}

            <div class="alert alert-info">
                <i class="fas fa-search"></i> Resultados de la búsqueda: {{ expediente|length }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                {% set nuevoCount=0 %}
                {% set vistoCount=0 %}

                {% for expediente in expediente %}
                    {% if expediente.estado == 'NUEVO' %}
                        {% set nuevoCount= nuevoCount+1 %}
                    {% elseif expediente.estado == 'VISTO' %}
                        {% set vistoCount= vistoCount+1 %}
                    {% endif %}
                {% endfor %}

                {% if nuevoCount > 0 %}
                    <i class="far fa-file"></i> Nuevos: {{nuevoCount}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                {% endif %}
                {% if vistoCount > 0 %}
                    <i class="fas fa-check"></i> Visto: {{vistoCount}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                {% endif %}
              
            </div>
            <hr/>

        {% endif %}

        <table class="table table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">NUMERO</th>
                    <th scope="col">TEMA</th>
                    <th class="text-center" scope="col">UBICACION ACTUAL</th>
                    <th class="text-center" scope="col">ESTADO</th>
                    <th class="text-center" scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for expediente in expediente|reverse %}
                    <tr>
                        <td class="">
                            {% if expediente.estado == 'NUEVO' %}
                                <span class="badge badge-pill badge-info">Nuevo</span>
                            {% endif %}

                            {{expediente.codigoExpediente }}-{{expediente.numeroExpediente }}-{{expediente.digitoExpediente }}

                        </td>            
                        <td class="">{{expediente.tema|e }}</td>         
                        <td class="text-center">{{expediente.ubicacionActual|e }}</td>
                         <td class="text-center">{{expediente.estado|e }}</td>        
                        {% if asociado == false %}
                            <td class="text-center"><a class="btn btn-info" href="{{ path("ver_expediente", {'id':expediente.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Ver Detalle"><i class="fas fa-search"></i></a>
                                <a class="btn btn-warning" href="{{ path("editar_expediente", {'id':expediente.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit"></i></a>
                                {#<a class="btn btn-danger" href="{{ path("eliminar_expediente", {'id':expediente.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fas fa-trash-alt"></i></a></td>
#}
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar"></i></button>    


                                <!-- The Modal -->
                                <div class="modal fade" id="myModal">
                                    <div class="modal-dialog modal-sm modal-dialog-centered">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header-warning">
                                                <button type="button" class="close text-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Eliminar Expediente</h4>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                ¿Desea Eliminar el Expediente: {{expediente.codigoExpediente }}-{{expediente.numeroExpediente }}-{{expediente.digitoExpediente }}?
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"><a class="text-type btn-primary"href="{{ path("eliminar_expediente", {'id':expediente.id})  }}"  role="button">Si</a></button>                          
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% else %}
                            <td class="text-center"><a class="btn btn-info" href="{{ path("nuevo_expediente_asociado", {'id':padre_id, 'id_asoc':expediente.id}) }}"  
                                                       role="button" data-toggle="tooltip" 
                                                       data-placement="top" title="Asociar"></i>Asociar</a></td>

                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>

    <script>

        $('#expediente_filter_tema').autocompleter({
            url_list: "{{ path('tema_search') }}",
            url_get: "{{ path('tema_get') }}"
        });
        {#  $('#expediente_filter_nroExpediente').autocompleter({
                url_list: "{{ path('expediente_search') }}",
                url_get: "{{ path('expediente_get') }}"
            });#}

                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
    </script>


{% endblock %}
