{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;           
        }
        .expediente{
            margin-right: 12px;
        }
        .expediente p{
            margin-top:10px;
        }
        .titulo{
            height: 30px;
            padding:7px;
            background-color:black;
            color: #fff;
        }
        .panel{
            font-size: 11px;        
        }
        .form-exp{
            font-size:15px;
            padding:10px;
        }
        .title{
            font-size:16px;
        }
    </style>
    
    <div class="formu col-lg-12">
        <div class="border border-primary">
            <h2 class="text-center">Lista de Expedientes</h2>
            <hr/>              
            {% for expediente in expediente %}
                   <div class="expediente col-lg-3">
                       <div class="titulo">
                            <h4 class="list-group-item-heading">Nro. Expediente: {{ expediente.nroExpediente|e }}</h4>
                       </div>
                       
                        <p class="list-group-item-text">Tema: {{ expediente.tema|e }}</p>
                        <hr/>
                        <p class="list-group-item-text">Concepto: {{ expediente.concepto|e }}</p>
                        <hr/>
                        <a class="btn btn-default" href="expediente/{{expediente.id}}"  role="button">Ver detalle</a>
                        <a class="btn btn-default" href="edit/{{expediente.id}}"  role="button">Modificar</a>
                        <a class="btn btn-default" href="delete/{{expediente.id}}"  role="button">Eliminar</a>
                   </div>
            {% endfor %}
                
      
        </div>
    </div>
    
    {#{{dump(expediente)}}#}
    
    
  
{% endblock %}