{% extends "AppBundle::layout.html.twig" %}

{% block contentmain %}
    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;           
        }
        .expediente{
            margin-right: 12px;
            padding:15px;
        }
        .expediente p{
            margin-top:10px;
        }
        .titulo{
            height: 30px;
            padding:7px;
            background-color:black;
            color: #fff;
        }
        .panel{
            font-size: 15px; 
            margin-bottom: 20px;
            margin-right: 20px;
        }
        .form-exp{
            font-size:15px;
            padding:10px;
        }
        .title{
            font-size:16px;
        }

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }

    </style>

    <div class="content">
        <div class="filtro">
            <div class="header">
                <i class="fas fa-search"></i> <strong>Búsqueda de Movimientos</strong></h4> 
                <a role="button" 
                   class="btn btn-success float-right" 
                   href="{{ path('elegir_movimiento',
                                 {'id':expediente.id}) }}">
                    Nuevo Movimiento</a>
            </div>
            <hr/>
            <form method="post" novalidate="true" id="form_buscar">
                {{ form_errors(formMovimientoFilter) }}
                <div class="row">
                    <div class="threecol col-lg-3">
                        {{ form_label(formMovimientoFilter.usuario, 'USUARIO') }}
                        {{ form_widget(formMovimientoFilter.usuario) }}
                        <div class="help-block with-errors">
                            {{ form_errors(formMovimientoFilter.usuario) }}
                        </div>
                    </div>  
                    <div class="threecol col-lg-3">
                        {{ form_label(formMovimientoFilter.tipoSalida, 'TIPO DE PASE') }}
                        {{ form_widget(formMovimientoFilter.tipoSalida) }}
                        <div class="help-block with-errors">
                            {{ form_errors(formMovimientoFilter.tipoSalida) }}
                        </div>
                    </div>  
                    <div class="help-block with-errors">
                        {{ form_errors(formMovimientoFilter.fecha) }}
                    </div>
                    <div class="threecol col-lg-2">            
                        {{ form_row(formMovimientoFilter.fecha.left_date, { 'id': 'date1' })}} 
                        {{ form_widget(formMovimientoFilter.fecha.left_date) }}

                    </div>   
                    <div class="threecol col-lg-2">
                        {{ form_row(formMovimientoFilter.fecha.right_date, { 'id': 'date2' })}} 
                        {{ form_widget(formMovimientoFilter.fecha.right_date) }}

                    </div>       
                </div>

                <hr/>

                <div class="row">
                    <div class="col-lg-4">
                        {{ form_widget(formMovimientoFilter.filter) }}
                        {{ form_widget(formMovimientoFilter.reset) }}
                    </div>
                </div>
                {{ form_end(formMovimientoFilter) }}

            </form>

        </div>
        <hr/>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            <hr/>
        {% endfor %}

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            <hr/>
        {% endfor %}

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">UBICACION</th>
                    <th scope="col">DEPENDENCIA</th>
                    <th scope="col">TIPO DE PASE</th>
                    <th scope="col">USUARIO</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% set count = movimientos|length+1 %}

                {% for movimiento in movimientos|reverse%}
                    <tr>
                        {% set count= count-1 %}
                        {% if count != movimientos|length %}
                            <td><i class="fas fa-arrow-up"></i> {{count}} </td>
                        {% else %}
                            <td><i class="fas fa-arrows-alt-h"></i> {{ count }} </td>
                        {% endif %}
                        <td>{{movimiento.ubicacion}}</td>
                        <td>{{movimiento.ubicacion.dependencia}}</td>
                        <td>{{movimiento.tipoSalida}}</td>
                        <td>{{movimiento.usuario}}</td>
                        <td>{{movimiento.fecha|date('d-m-Y')}}</td>
                        {% if (expediente.ubicacionActual == movimiento.ubicacion) and (count == movimientos|length) %}
                            <td><a class="btn btn-info" href="{{ path('ver_movimiento',{'id':movimiento.id}) }}"  role="button" title="Ver Detalle"><i class="fas fa-search"></i></a>
                                <a class="btn btn-warning" href=""  role="button" title="Modificar"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-danger" href=""  role="button" title="Archivar"><i class="fas fa-trash-alt"></i></a></td>
                                {% else %}
                            <td><a class="btn btn-info" href=""  role="button" title="Ver Detalle"><i class="fas fa-search"></i></a></td>



                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        {% if movimientos|length < totalItems %}        
            <ul class="pagination">
                {%if (thisPage==1)%}           
                {%else%}
                    {%set thisPage= thisPage-1%}
                {%endif%}


                <li ><a class="page-link" href="{{ path('listado_movimiento', {'id':expediente.id,"currentPage": thisPage}) }}">&laquo</a></li>
                    {% for i in 1..maxPages %}
                    <li><a class="page-link"  href="{{ path('listado_movimiento', {'id':expediente.id,"currentPage": i}) }}">{{ i }}</a></li>
                    {% endfor %}

                {%if (page==maxPages)%}
                {%else%}
                    {%set page= page+1%}
                {%endif%}
                <li><a class="page-link" href="{{ path('listado_movimiento', {'id':expediente.id,"currentPage": page}) }}">&raquo</a></li>

            </ul>

        </div> 
    {%endif%} 


</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<hr/>
{% endblock %}