{% extends "AppBundle::layout.html.twig" %}

{% block contentmain %}
    <style>
       
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }

    </style>



   <div class="content">
        <div class="filtro">
            <div class="header"><i class="fas fa-search"></i> <strong>Búsqueda de carátula</strong></h4>
                <a role="button" 
                   class="btn btn-success float-right" 
                   href="{{ path('nueva_caratula',{'id':expediente.id})}}">
                    Agregar Carátula</a>
            </div>
                    
            <hr/>
            <form method="post" novalidate="true" id="form_buscar">
                    {{ form_errors(formCaratulaAgregadaFilter) }}
                    <div class="row">
                        <div class="threecol col-lg-4">
                            {{ form_label(formCaratulaAgregadaFilter.concepto, 'CONCEPTO') }}
                            {{ form_widget(formCaratulaAgregadaFilter.concepto) }}
                            <div class="help-block with-errors">
                                {{ form_errors(formCaratulaAgregadaFilter.concepto) }}
                            </div>
                        </div>
                        <div class="threecol col-lg-4">
                            {{ form_label(formCaratulaAgregadaFilter.tema, 'CODIGO') }}
                            {{ form_widget(formCaratulaAgregadaFilter.tema) }}
                            <div class="help-block with-errors">
                                {{ form_errors(formCaratulaAgregadaFilter.tema) }}
                            </div>
                           
                                
                                
                               {# {{dump(formCaratulaAgregadaFilter.tema)}}#}
                        </div> 
                       
                    </div>

                    <hr/>
                    <div class="row">
                        <div class="col-lg-4">
                            {{ form_widget(formCaratulaAgregadaFilter.filter) }}
                            {{ form_widget(formCaratulaAgregadaFilter.reset) }}
                        </div>
                    </div>
                    {{ form_end(formCaratulaAgregadaFilter) }}

                </form>
        </div>
            <hr/>
                
                    <table class="table table-striped table-hover"> 
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">CODIGO TEMA</th>
                                <th scope="col">DESCRIPCION</th>
                                <th scope="col">CONCEPTO</th>
                                <th scope="col">FOJAS</th>
                                <th scope="col">ACCIONES</th>

                            </tr>
                        </thead>

                        <tbody>

                            {% for caratulaAgregada in caratulas %}

                                <tr>
                                    <td>{{caratulaAgregada.tema.codigo}}</td>
                                    <td>{{caratulaAgregada.tema.descripcion}}</td>
                                    <td>{{caratulaAgregada.concepto}}</td>
                                    <td>{{caratulaAgregada.fojas}}</td>
                                    <td>
                                        <a class="btn btn-warning" href="{{ path("editar_caratula", {'id':caratulaAgregada.id}) }}"  role="button"><i class="fas fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></i></a>
                                        <a class="btn btn-danger" href="{{ path("eliminar_caratula", {'id':caratulaAgregada.id}) }}"  role="button"><i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar"></i></a></td>
                                </tr>

                            {% endfor %}

                        </tbody>

                    </table>


   </div>
                            
                            
    {% if caratulas|length < totalItems %}
            <ul class="pagination">
                {%if (thisPage==1)%}           
                {%else%}
                    {%set thisPage= thisPage-1%}
                {%endif%}


                <li ><a class="page-link" href="{{ path('listado_caratula', {'id':expediente.id, "currentPage": thisPage}) }}">&laquo</a></li>
                    {% for i in 1..maxPages %}
                    <li><a class="page-link"  href="{{ path('listado_caratula', {'id':expediente.id, "currentPage": i}) }}">{{ i }}</a></li>
                    {% endfor %}

                {%if (page==maxPages)%}

                {%else%}
                    {%set page= page+1%}
                {%endif%}
                <li><a class="page-link" href="{{ path('listado_caratula', {'id':expediente.id, "currentPage": page}) }}">&raquo</a></li>

            </ul>
        {% endif %}
        
                            
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    
    <script>
            $('#caratula_filter_responsable').autocompleter({
                url_list: "{{ path('tema_search') }}",
                url_get: "{{ path('tema_get') }}"
            });
    </script>
    
    <hr/>
{% endblock %}