{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;           
        }
        .expediente{
            margin-right: 12px;
            padding:15px;
        }
        .expediente p{
            margin-top:10px;
        }
        .titulo{
            height: 30px;
            padding:7px;
            background-color:black;
            color: #fff;
        }
        .panel{
            font-size: 15px; 
            margin-bottom: 20px;
            margin-right: 20px;
        }
        .form-exp{
            font-size:15px;
            padding:10px;
        }
        .title{
            font-size:16px;
        }
        
        .p{
            border-top: blue 5px solid;;
            border-right: blue 5px solid;
            border-bottom: blue 5px solid;
            border-left:  blue 5px solid;
            border-radius: 30px;
        }
        
    </style>
    
    <div class="formu col-lg-12 ">
        <div class="border border-primary" >
            <h2 class="text-center">Lista de Expedientes</h2>
            <hr/>
            <div class="p col-lg-10  col-md-offset-1" style="padding-left:  90px;padding-top:20px">
                {% for expediente in expediente %}
                       <div class="expediente col-lg-5 panel panel-default">
                           <div class="titulo">
                                <h4 class="list-group-item-heading">Nro. Expediente: {{ expediente.nroExpediente|e }}</h4>
                           </div>

                            <p class="list-group-item-text">Tema: {{ expediente.tema|e }}</p>
                            <hr/>
                            <p class="list-group-item-text">Concepto: {{ expediente.concepto|e }}</p>
                            <hr/>
                            <a class="btn btn-info" href="expediente/{{expediente.id}}"  role="button">Ver detalle</a>
                            <a class="btn btn-warning" href="edit/{{expediente.id}}"  role="button">Modificar</a>
                            <a class="btn btn-danger" href="delete/{{expediente.id}}"  role="button">Eliminar</a>
                            <br>
                       </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    
    {#{{dump(expediente)}}#}
    
    
  
{% endblock %}