{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    
    <style>
        body{
            font-size: 11px;
        }
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
         }
          input[type=textarea]{
            margin-bottom: 10px;
            padding:10px;            
         }
         input[type=submit]{
            margin-bottom: 10px;
            padding:10px;            
         }

    </style>
    
    
    <div class="col-ls-12">
            <div class="title ">Expediente -> Movimiento</div>
            <hr/>
                {% if expediente != null %}
                      <h4 class="text-default">Expediente Número: {{ expediente.nroExpediente }}</h4>        
                      <hr/>
                {% endif %}
             
            
            {{form_start(form,{'action':'' ,'method':'POST'})}}
             <div class="col-lg-14">
                
                <div class="col-lg-4">
                    <label class="text-default">DESTINO(<span class="text-danger">*</span>)</label>                 
                        {{ form_errors(form.ubicacion) }}
                        {{ form_widget(form.ubicacion) }}
                    </div>  
                </div>
                
                <div id="contenido" hidden></div>
                
                <div id="mesaentrada" class="col-xs-14" hidden>
                    <div class="dependencia col-lg-4">
                        <label class="text-default">DEPENDENCIA(<span class="text-danger">*</span>)</label>                    
                    </div>                 
                </div>

                <div id="lugarfisico" class="col-xs-14" hidden>
                    <div class="tipo col-lg-4">
                        <label class="text-default">TIPO(<span class="text-danger">*</span>)</label>                    
                    </div>                        
                     
                </div>

                <div id="persona" class="col-xs-14" hidden>
                    <div class="nombre col-lg-4">
                        <label class="text-default">NOMBRE(<span class="text-danger">*</span>)</label>                    
                    </div>                   
                </div>
                
              <div class="col-lg-12">
                  <hr/>
                    <label class="text-default">OBSERVACIONES</label>
                    {{ form_errors(form.observacion) }}
                    {{ form_widget(form.observacion) }}
               </div>   
                       <div class="col-lg-12">
                    <label class="text-default">COMENTARIO</label>
                    {{ form_errors(form.comentario) }}
                    {{ form_widget(form.comentario) }}
                    <hr/>
               </div>  
               <div class="col-lg-3 float left">
                    {{ form_widget(form.Aceptar) }}
               </div>
            </div>
            {{form_end(form)}}

    </div>          
     <script>
        var $ubicacion = $('#movimientoexpediente_ubicacion');     
        var $form = $ubicacion.closest('form');

        $ubicacion.on('change', function () {
            var data = $ubicacion.serialize();
            var index = $ubicacion.val();
            $.ajax({
                url :"{{ path('add_movimiento') }}",
                type: "POST",
                data: data,
                success : function(html) {
                    // la variable html representa toda la página junto con el select de estados.
                    // el cual tomamos y colocamos para reemplazar el select actual.
                                     
                   if(index == 0 ){
                        $('#persona').hide();
                        $('#mesaentrada').hide();
                        $('#lugarfisico').hide();
                   }
                   if(index == 1){
                        $('#persona').hide();
                        $('#lugarfisico').hide();
                        $('#mesaentrada').show();                        
                        
                        var count = $('.dependencia').find(':input').length;
                        
                        if(count == 0){
                            $('#contenido').html($(html).find('#movimientoexpediente_mesaentrada'));
                            $('#movimientoexpediente_mesaentrada_dependencia').appendTo(".dependencia");
                        }                   
                   }
                   if(index == 2){
                       $('#mesaentrada').hide();
                       $('#lugarfisico').hide();
                       $('#persona').show();
                            
                        if($('.nombre > input').size() <= 0){
                        $('#contenido').html($(html).find('#movimientoexpediente_persona'));
                        $('#movimientoexpediente_persona_nombre').appendTo(".nombre");
                        {#  $('#expediente_persona_apellido').appendTo(".apellido");
                        $('#expediente_persona_dni').appendTo(".dni");
                        $('#expediente_persona_cargo').appendTo(".cargo");#}
                         }
                           
                   }     
                   if(index == 3){
                              $('#mesaentrada').hide();         
                              $('#persona').hide();
                              $('#lugarfisico').show();
                             if($('.tipo > input').size() <= 0){
                               $('#contenido').html($(html).find('#movimientoexpediente_lugarfisico'));
                               $('#movimientoexpediente_lugarfisico_tipo').appendTo(".tipo");
                              {# $('#expediente_lugarfisico_descripcion').appendTo(".descripcion");
                               $('#expediente_lugarfisico_acceso').appendTo(".acceso");#}
                            }
                   }
                }
            });
        });
    </script>
{% endblock %}