
{% extends "AppBundle::layout.html.twig" %}

{% block contentmain %}

    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;
            padding:10px;            
        }

    </style>

    <div class="content">
        <strong>NUEVA RESOLUCIÓN, EXPEDIENTE {{expediente.codigoExpediente }}-{{expediente.numeroExpediente }}-{{expediente.digitoExpediente }}</strong>
        <hr/>
        {{form_start(form,{'action':'','method':'POST'})}}
        <div class="col-lg-4">
            <label class="text-default">FECHA DE RESOLUCIÓN</label>
            {{ form_row(form.fechaResolucion, { 'id': 'date1' })}} 
            {{ form_errors(form.fechaResolucion) }}
            {{ form_widget(form.fechaResolucion) }}
        </div>

        <div class="col-lg-3">
            <label class="text-default">NÚMERO DE RESOLUCIÓN</label>
            {{ form_row(form.numeroResolucion, { 'id': 'date1' })}} 
            {{ form_errors(form.numeroResolucion) }}
            {{ form_widget(form.numeroResolucion) }}
        </div>

        <div class="col-lg-4">
            <label class="text-default">TIPO</label>
            {{ form_row(form.tipo, { 'id': 'date1' })}} 
            {{ form_errors(form.tipo) }}
            {{ form_widget(form.tipo) }}
        </div>
        <div class="col-lg-12">
            <label class="text-default">OBSERVACION</label>
            {{ form_errors(form.observacion) }}
            {{ form_widget(form.observacion) }}
        </div>
        <hr/>
        <div class="col-lg-4">
            {{ form_widget(form.Aceptar) }}
        </div>

        {{form_end(form)}}
    </div>
{% endblock %}