{% extends "AppBundle::layout.html.twig" %}

{% block contentmain %}
    <div class="content">
        {{form_start(form,{'action':'' ,'method':'POST'})}}
        <h3>{{ accion }} Dependencia</h3>
        <hr/>
        <div class="row">
            <div class="col-lg-6">
                <label class="text-default">DESCRIPCION(<span class="text-danger">*</span>)</label>                 
                {{ form_errors(form.descripcion) }}
                {{ form_widget(form.descripcion) }}
            </div>
            <div class="space col-lg-6"></div>
            <div class="col-lg-5">
                <label class="text-default">DEPENDENCIA PADRE(<span class="text-danger">*</span>)</label>                 
                {{ form_errors(form.dependenciaPadre) }}
                {{ form_widget(form.dependenciaPadre) }}
            </div>
            <div class="space col-lg-6"></div>
            <div class="col-lg-5">
                <label class="text-default">RESPONSABLE(<span class="text-danger">*</span>)</label>                 
                {{ form_errors(form.responsable) }}
                {{ form_widget(form.responsable) }}
            </div>
            <div class="space col-lg-6"></div>
            <div class="col-lg-4">
                <label class="text-default">NIVEL(<span class="text-danger">*</span>)</label>                 
                {{ form_errors(form.nivel) }}
                {{ form_widget(form.nivel) }}
            </div>         
        </div>
            <hr/>
        <div class="col-lg-3 float left">
            {{ form_widget(form.Aceptar) }}
            <button class="form-submit btn btn-secondary" onclick="history.back()"  role="button">Volver</button>
        </div>
        {{form_end(form)}}
    </div>
    <script>
        $('#dependencia_responsable').autocompleter({
            url_list: "{{ path('persona_search') }}",
            url_get: "{{ path('persona_get') }}"
        });

    </script>
{% endblock %}
