{% extends "AppBundle::layout.html.twig" %}

{% block contentmain %}
    <style>

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }

    </style>

    <div class="content">
        <div class="row form col-lg-12">
            <div class="filtro">
                <div class="header"><i class="fas fa-search"></i> <strong>Búsqueda de Dependencia</strong>
                 <a role="button" 
                   class="btn btn-success float-right" 
                   href="{{ path('nueva_dependencia')}}">
                    Nueva Dependencia</a>
                </div>
                <hr/>
                <form method="post" novalidate="true" id="form_buscar">
                    {{ form_errors(formDependenciaFilter) }}
                    <div class="row">
                        <div class="threecol col-lg-4">
                            {{ form_label(formDependenciaFilter.descripcion, 'DESCRIPCIÓN') }}
                            {{ form_widget(formDependenciaFilter.descripcion) }}
                            <div class="help-block with-errors">
                                {{ form_errors(formDependenciaFilter.descripcion) }}
                            </div>
                        </div>
                        <div class="threecol col-lg-4">
                            {{ form_label(formDependenciaFilter.dependenciaPadre, 'DEPENDENCIA PADRE') }}
                            {{ form_widget(formDependenciaFilter.dependenciaPadre) }}
                            <div class="help-block with-errors">
                                {{ form_errors(formDependenciaFilter.dependenciaPadre) }}
                            </div>
                        </div> 
                        <div class="threecol col-lg-4">
                            {{ form_label(formDependenciaFilter.responsable, 'NOMBRE RESPONSABLE') }}
                            {{ form_widget(formDependenciaFilter.responsable) }}
                            <div class="help-block with-errors">
                                {{ form_errors(formDependenciaFilter.responsable) }}
                            </div>
                        </div>  
                        <div class="twocol col-lg-1">
                            {{ form_label(formDependenciaFilter.nivel, 'NIVEL') }}
                            {{ form_widget(formDependenciaFilter.nivel) }}
                            <div class="help-block with-errors">
                                {{ form_errors(formDependenciaFilter.nivel) }}
                            </div>
                        </div> 
                        <div class="twocol col-lg-2">
                            {{ form_label(formDependenciaFilter.archivado, 'ESTADO') }}
                            {{ form_widget(formDependenciaFilter.archivado) }}
                            <div class="help-block with-errors">
                                {{ form_errors(formDependenciaFilter.archivado) }}
                            </div>
                        </div> 
                    </div>

                    <hr/>
                    <div class="row">
                        <div class="col-lg-4">
                            {{ form_widget(formDependenciaFilter.filter) }}
                            {{ form_widget(formDependenciaFilter.reset) }}
                        </div>
                    </div>
                    {{ form_end(formDependenciaFilter) }}

                </form>
            </div>
        </div>


        <br/>


        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col">Dependencia Padre</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>

                {% for dependencia in dependencias|reverse %}
                    <tr>
                        <td class="text-default">{{dependencia.descripcion|e }}</td>
                        <td class="text-default"><p>{{dependencia.dependenciaPadre.descripcion|e }}</p></td>
                        <td class="text-default">{{dependencia.responsable|e }}</td>

                        {% if dependencia.archivado == 'NO' %}
                            <td class="text-default">Vigente</td>
                            <td class="text-default">{{dependencia.nivel|e }}</td>
                            <td> <a class="btn btn-info" href="{{ path('adm_gestionar_mesaentrada',{'id':dependencia.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Gestionar Mesa de Entrada">  <i class="fas fa-table"></i></a>
                                <a class="btn btn-warning" href="{{ path('editar_dependencia',{'id':dependencia.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-danger" href="{{ path('archivar_dependencia',{'id':dependencia.id}) }}"  role="button"><i class="far fa-file-archive" data-toggle="tooltip" data-placement="top" title="Archivar"></i></a></td>
                                {% else %}
                            <td class="text-default">Archivado</td>
                            <td class="text-default">{{dependencia.nivel|e }}</td>
                            <td> <a class="btn btn-info" href="{{ path('adm_gestionar_mesaentrada',{'id':dependencia.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Gestionar mesa de Entrada">  <i class="fas fa-table"></i></a>
                                <a class="btn btn-warning" href="{{ path('editar_dependencia',{'id':dependencia.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Editar Dependencia"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-success" href="{{ path('alta_dependencia',{'id':dependencia.id}) }}"  role="button"><i class="far fa-calendar-check" data-toggle="tooltip" data-placement="top" title="Dar de Alta"></i></a></td>
                                {% endif %}

                    </tr>
                {% endfor %}

            </tbody>
        </table>

        {% if dependencias|length < totalItems %}
            <ul class="pagination">
                {%if (thisPage==1)%}           
                {%else%}
                    {%set thisPage= thisPage-1%}
                {%endif%}


                <li ><a class="page-link" href="{{ path('listado_dependencia', {"currentPage": thisPage}) }}">&laquo</a></li>
                    {% for i in 1..maxPages %}
                    <li><a class="page-link"  href="{{ path('listado_dependencia', {"currentPage": i}) }}">{{ i }}</a></li>
                    {% endfor %}

                {%if (page==maxPages)%}

                {%else%}
                    {%set page= page+1%}
                {%endif%}
                <li><a class="page-link" href="{{ path('listado_dependencia', {"currentPage": page}) }}">&raquo</a></li>

            </ul>
        {% endif %}

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>

        <script>
            $('#dependencia_filter_responsable').autocompleter({
                url_list: "{{ path('persona_search') }}",
                url_get: "{{ path('persona_get') }}"
            });
        </script>

        <hr/>
    {% endblock %}