{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <style>
        input[type=text]{
            margin-bottom: 10px;
            padding:10px;            
        }
        input[type=submit]{
            margin-bottom: 10px;           
        }
        .expediente{
            margin-right: 12px;
            padding:15px;
        }
        .expediente p{
            margin-top:10px;
        }
        .titulo{
            height: 30px;
            padding:7px;
            background-color:black;
            color: #fff;
        }
        .panel{
            font-size: 15px; 
            margin-bottom: 20px;
            margin-right: 20px;
        }
        .form-exp{
            font-size:15px;
            padding:10px;
        }
        .title{
            font-size:16px;
        }

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }

    </style>



    <h4 class="text-center"><i class="fas fa-bars"></i> Lista de Dependencias <a href="{{ path('nueva_dependencia') }}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Nueva Dependencia"><i class="fas fa-plus"></i></a></h4>
    <hr/>
    <table class="table table-striped">
        <thead class="">
            <tr>
                <th scope="col">Descripción</th>
                <th scope="col">Dependencia Padre</th>
                <th scope="col">Responsable</th>
                <th scope="col">Estado</th>
                <th scope="col">Nivel</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>

            {% for dependencia in dependencias|reverse %}
                <tr>
                    <td class="text-default">{{dependencia.descripcion|e }}</td>
                    <td class="text-default"><p>{{dependencia.dependenciaPadre.descripcion|e }}</p></td>
                    <td class="text-default">{{dependencia.responsable|e }}</td>
                    
                    {% if dependencia.archivado == 'NO' %}
                        <td class="text-default">Vigente</td>
                          <td class="text-default">{{dependencia.nivel|e }}</td>
                    <td> <a class="btn btn-info" href="{{ path('adm_gestionar_mesaentrada',{'id':dependencia.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Gestionar Mesa de Entrada">  <i class="fas fa-table"></i></a>
                        <a class="btn btn-warning" href="{{ path('editar_dependencia',{'id':dependencia.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" href="{{ path('archivar_dependencia',{'id':dependencia.id}) }}"  role="button"><i class="far fa-file-archive" data-toggle="tooltip" data-placement="top" title="Archivar"></i></a></td>
                    {% else %}
                        <td class="text-default">Archivado</td>
                          <td class="text-default">{{dependencia.nivel|e }}</td>
                    <td> <a class="btn btn-info" href="{{ path('adm_gestionar_mesaentrada',{'id':dependencia.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Gestionar mesa de Entrada">  <i class="fas fa-table"></i></a>
                        <a class="btn btn-warning" href="{{ path('editar_dependencia',{'id':dependencia.id}) }}"  role="button" data-toggle="tooltip" data-placement="top" title="Editar Dependencia"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-success" href="{{ path('alta_dependencia',{'id':dependencia.id}) }}"  role="button"><i class="far fa-calendar-check" data-toggle="tooltip" data-placement="top" title="Dar de Alta"></i></a></td>
                    {% endif %}
                  
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <hr/>
{% endblock %}